[2014-03-12 03:51] markhibberd opened #1 "Add the ability to append additional fields on load."

[2014-03-12 04:19] quintona opened #5 "Keep the file details and the fields in the header and footer"
Some header/footer details are placed in the input file. We will to keep these details and the filename from the source as part of the meta data (pref in the parquet format)

[2014-03-20 05:45] mxswd opened #12 "Trap hack not working"
When running the maestro-example, traps are not being caught.

[code]

[2014-03-20 23:39] jagatsingh opened #15 "Remove quotes in fields if data has"
Example

"name","hi"

We can use opencsv parser

[2014-03-25 21:50] quintona opened #18 "Compatibility Testing"
We need a full suite of compatibility tests working. We will be generating data using the following technologies:

* Scalding/cascading with Ebenezer and Maestro support
* Hive

And consuming the data using:

* Scalding/cascading with Ebenezer and Maestro support
* Hive
* Impala

Early indications are that there are compatibility issues, and longer term this needs to be in place and is critical. T

[2014-04-14 07:46] jamindaw opened #30 "I need the ability to add additional columns to the target structure."
For example, we need to add multiple timestamps to the target structure representing both load date and business effective date.

[2014-04-14 07:49] jamindaw opened #31 "I need the ability to validate the file based on the header/trailer records"
In certain loads, we use the row count  from the trailer record to validate the file.

[2014-04-14 07:50] jamindaw opened #32 "Parse Header and Trailer Records"

[2014-04-14 07:50] jamindaw opened #33 "Add default regex for parsing time from path regex to Maestro"

[2014-04-17 03:34] anandsiva opened #40 "For Out files produced I need to be able to define Header and trailer record values"
Standard Header record features to have any of the following
1. It could be the column name
2.It could contain just the business date for which the dataset has been generated

Trailer record:
1. It should have the row count of the dataset generated.

[2014-05-07 02:08] anandsiva opened #47 "The ability to handle multiple smaller inbound datasets"

[2014-06-25 10:38] quintona opened #78 "Integrate Maestro with Hive 0.12"
CDH 5, Scheduled for end of July (within CBA), will bring Hive version 0.12

[2014-07-06 20:45] quintona opened #106 "Delta load support"
At present we easily support direct loads, and with a little bespoke effort could support delta loads. However we will then land up with a wide range of brittle delta based implementations. We need to support delta loads as a first class load pattern and ensure all the good convention is in place there

[2014-07-16 08:44] jagatsingh opened #120 "Add ability to join two datasets"

[2014-07-22 01:49] stephanh opened #126 "Default partition functions should be more generic"
We should have more generic default partition functions that can accept as input lists with more than the required files and can have custom separators.

E.g `Partition.byDate` should be able to handle extract_timestamp fields with values such as `yyyy/mm/dd/hh` or `yyyy-mm-dd`.

Alternatively, we should change extract_timestamp to be an actual timestamp, #127.

[2014-08-11 01:42] stephanh opened #142 "Multiple decoders in the same cascade cause serialisation issues."
Having another decoder in the job class in addition to the one provided by MacroSupport and then using that decoder in a TypedPipe creates serialisation issues.

Moving the decoder into a separate object and then referencing it from their resolves this.

Maybe the code the macro generates cause this?

[2014-08-15 04:17] stephanh opened #147 "Load ignores too much input"
The Load command silently drops columns that exceeded the number of fields in the thrift struct.

The Tag.tag command will just force each input row to be the right length.

[2014-08-18 04:21] stephanh opened #153 "Enable end to end testing using parlour maestro integration"

[2014-08-18 04:37] stephanh opened #156 "Provide operational metadata on which files have been loaded"

[2014-09-02 10:10] stephanh opened #170 "Reveret #169 when we move to 2.11"
Revert #169 when we move to Scala 2.11 to get rid of the compile warnings. The thread safety of the new reflection API should be fixed in 2.11. https://issues.scala-lang.org/browse/SI-6240

[2014-10-06 12:39] SamRoberts opened #197 "Add an Upload configuration type"
We should make it easier to add parameters to upload while maintaining source code backwards compatibility. One way of doing this is to bundle the parameters up in a configuration type.

[2014-10-13 04:12] vineethvarghese opened #206 "Tooling around dependency version management"
There needs to be more rigour around managing a project's dependency. Right now, version issues are caught at deployment and are often difficult to debug. Given the manner in which transitive dependencies are pulled in by hadoop, project should be explicit about what dependencies it wants in the assembly (atleast the hadoop dependencies). We could start with have a simple build plugin that analyze

[2014-10-15 10:56] SamRoberts opened #211 "Add a validator that never fails"
Currently users write `Validator.all[T]()` when they want to not do any validation, meaning run all of these 0 validators on the input. This is slightly counter-intuitive. Would prefer to have a single Validator value that never fails.

[2014-10-20 00:48] stephanh opened #214 "Investigate adding text support"
In order to support text we need to:
* Add a source that writes out a Thrift struct in text format, could use the product iterator to get each field and then toString it.
* Add hive table descriptor for text table that is derived from ThriftStruct.

[2014-11-03 05:31] stephanh opened #226 "Upload should get its configuration from the Execution monad context"

[2014-11-04 01:53] stephanh opened #228 "Need to evaluate CDH5.2"

[2014-11-07 00:25] snehalvidyan opened #234 "The cascade job is getting successfully completed even when the parlour jobs are failing"
The cascade job is getting successfully completed even when the parlour jobs are failing.
We are checking the status of job execution for proceeding to other tasks and it always returns 'true'.

[2014-11-21 00:37] SamRoberts opened #247 "asynchronous backup"
Currently upload and sqoopImport backup files synchronously. This holds up the rest of the job while backup completes, and a number of users have complained about it. There is no fundamental reason why we can't backup asynchronously.

[2014-11-23 22:49] stephanh opened #250 "Create Hive table with text format from Thrift struct"

[2014-11-25 05:16] stephanh opened #256 "Allow Sqoop jobs to run arbitrary SQL queries."
Currently sqoop export jobs in Maestro can only delete the table not run other sql queries.

[2014-11-25 05:18] JosephShobin opened #257 "Exception while executing viewHive"
If we are executing load job with large number of partitions, 'viewHive' function throws error. It is working as expected if there is limited number of partitions.

[2014-11-28 03:25] anandsiva opened #259 "Ability to merge smaller files into a bigger file"
Some of the reference data or the source system sending delta files will have lots of smaller files. In the long run this could cause issue. We could do compaction as an optional post processing for certain feeds.

[2014-12-01 23:51] SamRoberts opened #265 ""now" time source uses UTC, unlike other time sources"
The time source returned by the "now" function converts the current time to UTC. This is different to all other existing time sources I am aware of. Should it be changed to be consistent with out other time sources?

Please refer to #204 for discussion about how we should change the time zone behavior of our time sources in general. This issue is specific to the "now" function.

[2015-01-05 11:26] SamRoberts commented on #226
This is in maestro now

[2015-01-05 11:26] #226 closed

[2015-01-05 11:26] SamRoberts commented on #197
This has been done in the Execution API

[2015-01-05 11:26] #197 closed

[2015-01-05 11:42] SamRoberts opened #284 "Remove old maestro API"
We have added a new maestro API alongside the old one. Now we need to remove the old one.

The amount of work to include for this issue is still up for discussion. At a minimum we should remove the old api from `maestro-api`, the corresponding examples in `maestro-example`, and any reference to the old API in our documentation (e.g. README). However, the number of tasks we could complete includes:

[2015-01-05 22:50] SamRoberts commented on #284
Also get rid of the `exec` namespace, as it no longer serves any purpose. We won't keep the old namespace around, so current users will have to remove `exec` from their imports.

[2015-01-06 00:36] SamRoberts opened #285 "proper integration of Guard functions with Execution"
At the moment the Guard functions use dummy Configurations to create and use a hadoop filesystem instance. Instead, we should expose these functions as `Hdfs` or `Execution` actions, so they use the provided configuration and are consistent with the rest of the maestro API.

[2015-01-06 00:38] SamRoberts commented on #285
Note that although the Guard functions are less necessary now that we can get the list of uploaded files from upload or sqoopImport, we still need them if we write a job that deals with files that are already on HDFS.

[2015-01-06 00:45] stephanh opened #286 "Should set the class name when running sqoop"
Unfortunately, when multiple sqoop jobs are run in the same JVM (such as when running tests) it caches some state from the first test. This can be mitigated by setting the class name to different names for each test.

[2015-01-06 05:04] stephanh opened #287 "Should maestro api package expose Hdfs and Hive"
Should the Maestro API package expose Hdfs from permafrost and Hive from Ebenezer. Also should we include the Hdfs string implicits as part of `Mastro._`.

[2015-01-06 05:08] SamRoberts commented on #287
The rationale for _not_ exposing scalding's Execution type from the Maestro API was that user's would commonly import other items from scalding, and commonly do so via wildcard imports, and we didn't want them to have to juggle the same type coming from multiple locations.

As these items have their own dedicated namespace in their respective projects, I don't see that objection applying here, and

[2015-01-06 05:27] stephanh commented on #257
@JosephShobin @snehalvidyan @SamRoberts is there any activity or update on this?

[2015-01-06 05:32] stephanh commented on #153
This was added by @vineethvarghese  a while ago.

[2015-01-06 05:32] #153 closed

[2015-01-06 07:05] snehalvidyan commented on #257
@stephanh  @SamRoberts The issue still exists, We think the issue is with hive parquet integration, thats why we removed the bug tag with this issue. Can I delete it or add invalid tag?

[2015-01-06 07:17] SamRoberts commented on #257
Speaking for myself, I don't much care what we tag the issue with. I would just like to have enough information to start understanding the problem. As a starting point, can you give us a stack trace and your code? (either publicly or privately, depending on what is appropriate)

[2015-01-06 11:06] SamRoberts commented on #106
Could we bring the existing delta work done in `util.etl` into maestro?

I think the existing delta implementation makes sense when the provided data has no structure, but I would hope that many data sets offer some sort of monotonic field which could be used to provide a better implementation.

[2015-01-07 00:33] stephanh opened #290 "Remove deprecated QueryExecution"

[2015-01-07 01:11] #250 closed

[2015-01-07 01:11] #287 closed

[2015-01-08 01:33] SamRoberts commented on #284
Current status:

**Done**
 1. Remove the old api from `maestro-api`
 2. Remove the old examples from `maestro-examples`
 3. Convert old transform example to execution equivalent
 4. Remove unnecessary code/tests (but not unnecessary test resources)
 5. Checked that we have equivalent tests for every test removed (we did)
 6. Refactored remaining code

**TODO**
 1. Get rid of the `exec` namespace

[2015-01-09 00:54] SamRoberts opened #293 "Merge Partition and HivePartition objects"
At the moment, the factory functions for `Partition` are split into two objects: `Partition` and `HivePartition`. The `HivePartition` partitions have a different `path` value, but we never actually use that anyway. We should merge `Partition` and `HivePartition`.

[2015-01-09 05:51] SamRoberts opened #294 "Use RichExecution.withSubConfig in implementation of sqoop archive"
The sqoop archive method was written before we had RichExecution. It could take advantage of the `withSubConfig` method defined there instead of manually getting the config and changing it.

[2015-01-09 06:42] SamRoberts opened #295 "maestro examples should use MaestroJob"
Our meastro examples should use `MaestroJob`.

[2015-01-12 02:18] #294 closed

[2015-01-13 00:50] #286 closed

[2015-01-14 05:47] stephanh commented on #256
@JosephShobin @sujeshce can we close this ticket or is there still some functionality around this that is missing>

[2015-01-14 05:48] stephanh commented on #234
Closing since we have now switched to the Execution API.

[2015-01-14 05:48] #234 closed

[2015-01-14 05:49] stephanh commented on #120
Done using the Join macro.

[2015-01-14 05:49] #120 closed

[2015-01-14 05:50] stephanh commented on #106
Closing this since we support delta loads in util.etl.

[2015-01-14 05:50] #106 closed

[2015-01-14 05:55] stephanh commented on #33
@SamRoberts I would say this is done now, correct?

[2015-01-14 05:56] stephanh commented on #30
This is currently possible using a custom splitter.

[2015-01-14 05:56] #30 closed

[2015-01-14 05:57] SamRoberts commented on #33
yep

[2015-01-14 06:00] #33 closed

[2015-01-14 23:03] stephanh opened #300 "Scalding counter fails often"
Not sure why but on some map tasks for some loads trying to access the `FlowDef` on the individual mapppers to increase the filter counter fails. Scalding stores the `FlowDef`s in a HashMap and uses the job id to look them up. Below is the execption:
[code]

[2015-01-16 01:02] stephanh opened #303 "Test intermittently fail"
Our tests seem to be intermittently failing all of the sudden. So far ViewExecutionSpec and CustomerExecutionSpec have failed.

[2015-01-16 01:03] SamRoberts commented on #303
The zip test in ViewExecutionSpec has always intermittently failed. CustomerExecutionSpec is new to me though.

[2015-01-16 01:05] SamRoberts commented on #303
CustomerExecutionSpec zips two viewHive statements as well, so it may well be the same issue and I just haven't noticed it before.

[2015-01-16 01:16] jithinjohn opened #304 "Logging for Upload is not displaying values for some variables"
While running a ETL job  we got upload logs as follows:
[code]

Some variables are not being populated.

[2015-01-16 01:36] SamRoberts commented on #304
thanks Jithin, will fix

[2015-01-16 04:09] #304 closed

[2015-01-16 05:34] rowandavies opened #306 "Scaladoc is missing some useful links to other APIs, e.g. ebenezer.scrooge.hive.Hive[A]"
More generally, it would be good to do a pass through the Scaladoc.

[2015-01-16 05:43] JosephShobin commented on #256
@stephanh, yes we can close this.

[2015-01-22 06:46] SamRoberts opened #308 "standardise on slf4j instead of log4j"
SqoopExecution and UploadExecution use log4j, instead of slf4j, which we use elsewhere. There's no reason to have two different logging frameworks. We should just standardise on slf4j.

[2015-01-22 08:02] SamRoberts opened #309 "Hdfs ensure method and friends aren't robust to exceptions"
The `ensure` method on Hdfs, and related methods like `recoverWith`, assume that the action to recover from doesn't throw an exception. It seems to me that a method like `ensure` should handle exceptions.

[2015-01-22 22:24] JosephShobin opened #310 "Javac compilation error while executing Parlour import from Maestro"
If the project contains more than 25 objects(more number of table imports) , while executing jar in actual environment throws javac compilation error.
All unit test cases are working and compilation is success,
If we separate/ remove some of the objects from the code, it works as expected.

[2015-01-23 00:55] SamRoberts opened #311 "Our internal etl g8 project needs to be updated to use the Execution API"

[2015-01-23 03:12] SamRoberts commented on #284
done

[2015-01-23 03:12] #284 closed

[2015-01-23 05:33] greyamigo commented on #310
This error occurs even if there are large number of dependencies in build.sbt .
 A project exporting into only one table and project contining less than 10 classes can also fail if there are like lot of dependency jars ( teradata jdbc, teradata driver , oracle driver and scalikejdbc) thus increasing the number of classes

[2015-01-23 06:51] JosephShobin commented on #310
@greyamigo : That might be the problem, in my case there is oracle and scalikejdbc dependencies in build.sbt and i need both these dependencies.

[2015-01-26 23:32] #256 closed

[2015-01-27 03:36] anukrishnank commented on #310
Teradata parlor import  facing same issue even if the project contains less table to import (5 tables in my case).The project contains 4 additional dependencies in build.sbt ( org.scalikejdbc, com.ncr.teradata, com.ncr.teradata, com.cloudera.connector) .I think the issue is with the large number of class files present in the jar and not with the number of tables to import

[2015-01-27 03:49] SamRoberts commented on #310
thanks everyone for the reports. @greyamigo and @anukrishnank , can you please email me a link to the commit in your projects which faces this issue?

[2015-01-27 05:15] SamRoberts commented on #310
@JosephShobin looking at the two new projects which have faced this issue, it seems that the sub-project workaround I have been working on probably isn't a good idea. It won't help if the majority of classes come from dependencies, rather than a large number of executions. I am thinking I will put my work on the sub-project on hold, and get straight into debugging the issue at hand.

[2015-01-27 07:20] JosephShobin commented on #310
yes @SamRoberts sub-projecting is a temporary work around only, if we can fix the root cause then that is good.

[2015-01-27 23:56] vineethvarghese commented on #311
Migrate etl.examples to use the execution api

[2015-01-28 03:06] MadhuMi commented on #310
@SamRoberts I was initially having 26 tables to import within one project .When it threw the javac error i split that project into two ,one containing only 10 table imports , but still i am facing the same issue.

[2015-01-28 03:45] stephanh commented on #310
Does this issue only occur when running the code on the cluster or also if local tests are run?

[2015-01-28 03:57] SamRoberts commented on #310
@MadhuMi thanks for that. I had stopped working on that workaround, but good to get another data point.

@stephanh Joseph reported that his tests work fine, it's only on the cluster that the issue arises. I'd be interested to see whether that is the case with the other projects. @greyamigo, @anukrishnank, and @MadhuMi: do your local tests work?

[2015-01-28 04:27] anukrishnank commented on #310
@SamRoberts Local test worked for me. The issue occurs when running the code in cluster

[2015-01-28 04:51] OlassayilMinu opened #314 "Maestro job not accepting arguments with space"
While trying to pass an argument with space, the job treats it as two seperate arguments rather than one.

[2015-01-28 06:04] jithinjohn commented on #310
@SamRoberts @stephanh  we have also faced same issue with sqoop import ETL jobs when 34 table objects are created in same project

[2015-01-28 06:14] stephanh commented on #314
Can you please provide an example and more context around what you mean?

[2015-01-28 06:26] OlassayilMinu commented on #310
SQL server import facing the issue with import of 1 table.

[2015-01-28 08:11] MadhuMi commented on #310
@SamRoberts ..Yes ..My test is working fine .. Issue is only while running the jar

[2015-01-29 01:15] jonjuscorpion666 opened #315 "Empty daily Partition to be created during loading for no record in files"
Needs empty partition to be created when files arrived without any data .

Scenario : currently no partitions with be created  after loading because of  2 reason 1) No Files arrived for loading 2) No records in Files .

We would like to create an empty partition for empty input files . So that Downstream transformations will be easier .
Happy to discuss more abt use case.

[2015-01-29 02:38] stephanh commented on #315
Why do you need the empty partition?

[2015-01-29 06:39] SamRoberts commented on #310
To everyone following this issue, we have noticed that @JosephShobin's project fails when the number of files in the jar crosses the limit of the number of files allowed with the zip format used in Java 6.

We are currently investigating whether reducing the number of files in the jar below this limit will fix the problem. If it does, we will fix shortly.

[2015-01-29 07:43] rowandavies commented on #285
In the PR review for etl.ebilling-pricinginformation today, Guard.createFlagFile was used via:
`Execution.from(createFlagFile(conf.inputs))`
There was a PR comment that createFlagFile use the HDFS monad would be better.

[2015-01-29 11:45] SamRoberts commented on #310
Update for people following this issue: reducing the number of class files in the jar below the limit did fix the problem. Once we have changed our assembly jar process so that it packages less files into the jar (there is lots of room for improvement here), we should have fixed the issue. We should be able to get a fix out in the next day or two that works for most projects: my main concern is wh

[2015-01-30 00:53] vineethvarghese commented on #300
FlowDef is really in a WeakHashMap rather than a HashMap. In this case, if the rows to be filtered are on top, we have no issues.

[2015-01-30 01:15] stephanh commented on #300
Not sure what that means?

[2015-01-30 03:29] vineethvarghese commented on #300
It means it is susceptible to being GCed. I modified the scalding source to use a HashMap and things work as expected. I am going to play around using a SoftReference but it is interesting that no one else has reported this issue with the scalding library.

[2015-01-30 03:33] SamRoberts commented on #300
Wouldn't we ensure that we hold a hard reference to the key, to keep it from being GC'd?

[2015-02-01 23:10] vineethvarghese commented on #300
Nope we can't because we don't create them in the first place. In the scalding library the object com.twitter.scalding.RuntimeStats is the culprit. In its addFlowProcess method (where the map is populated), the keys are created by splitting a String. The key will obviously be "available" for GC once the method is executed. To test this theory, I modified that method to add all the keys into a Set

[2015-02-02 02:19] SamRoberts commented on #310
Update for the people following this issue: there is a new version of etl-plugin which reduced the number of class files into the jar. This should fix your problems, but I would like for those affected to test it and let me know if there are any issues.

Can you please try running your assembly using etl-plugin version 0.6.0-20150202121956-01f994f, and let me know how that goes?

[2015-02-02 04:38] SamRoberts commented on #259
I am starting work on this now. Current tasks:
 1. Collaborating with @sujeshce to find technologies and/or code is producing all the small files.
 2. Can we modify these to produce less small files initially? E.g. by configuring them differently, or by creating wrappers around the classes doing the reading and writing.
 3. Are there cases where we can't make the initial jobs produce less files, b

[2015-02-02 04:39] SamRoberts commented on #259
Note that the `parquetjoiner` tool mentioned above is now available as a fork of herringbone here: https://github.com/CommBank/herringbone/

[2015-02-02 05:04] MadhuMi commented on #310
@SamRoberts ..I am able to run the project containing 17 sqoop import using new etl-plugin version

[2015-02-02 05:05] SamRoberts commented on #310
fantastic, thanks

[2015-02-02 05:31] SamRoberts opened #316 "Fix maestro dependency issues"
Maestro, and the other CommBank projects we rely on, like permafrost and ebenezer, have a number of issues regarding dependency management:

 1. The projects don't always agree on the version of a library to use
 2. The projects don't always use the same version of a library as the version supplied in the hadoop classpath
 3. When packaging the maestro assembly, when conflicting versions of a clas

[2015-02-02 05:38] stephanh commented on #316
This is linked to:
* https://github.com/CommBank/uniform/issues/31
* https://github.com/CommBank/uniform/issues/30
* https://github.com/CommBank/uniform/issues/28
* https://github.com/CommBank/uniform/issues/27

[2015-02-02 05:40] stephanh opened #317 "Investigate reducing class files produced by Fields Macro"
Currently the Fields macro produces a class for each field in a thrift structure. This can cause the number of class files to quickly blow out.

[2015-02-02 22:34] SamRoberts commented on #310
It sounds like this is working for everyone.

There is still an open question as to whether @JosephShobin can get all 140 loads into the same project without causing issues, but his load is working right now. If that turns out to be a problem, we can create another issue for it (e.g. #317).

Closing.

[2015-02-02 22:34] #310 closed

[2015-02-03 04:51] vineethvarghese commented on #300
Fix will be available with scalding 0.13.1. I would prefer we leave this ticket open till we actually upgrade and sort out this issue.

[2015-02-11 00:59] jonjuscorpion666 opened #318 "Default Hive Database names Needs to change in maestro"
Please change Default database from ${source}_${domain } to  s"${dbRawPrefix}_${source}_${domain}". As normally we have PR ,PS  or DR,DS or TR,TS as as db raw prefix

[2015-02-11 01:02] jonjuscorpion666 commented on #318
same applicable for hiveTable and PartitionedHiveTable Also

[2015-02-11 01:43] jonjuscorpion666 opened #319 "default path for Unpartitoned hive Table"
Instead of path : option[String ]=none in Unpartitioned table config
i think it will be always default ,
path      = (${hdfsRoot}/view/warehouse/${dirStructure}")
where
dirStructure ={Source /domain  }

[2015-02-11 03:19] jonjuscorpion666 commented on #318
Also we need to add  dbRawPrefix  as standard command line argument inside maestro

[2015-02-17 06:15] MadhuMi opened #321 "Setting the property loadWithKey to true within LoadConfig caused the Job to fail"
When i  set the property loadWithKey to true within LoadConfig to test jobs that require the automatically generated row_id field as the last value , the job failed with following exception :-

cascading.pipe.OperatorException: [com.twitter.scalding.M...][com.twitter.scalding.RichPipe.eachTo(RichPipe.scala:478)] operator Each failed executing operation
	at cascading.flow.stream.FunctionEachStage.r

[2015-02-17 06:22] SamRoberts commented on #321
@MadhuMi would you mind changing your execution slightly, so that before you call `load`, you first use `_ <- Execution.from(println(sources))` to print out the list of source files you are passing into the load function? And then show us what the list of source files looks like?

[2015-02-18 00:25] MadhuMi commented on #321
@SamRoberts List(/dev/source/HLS/ADDRESS_SZCIMST/2014/11/21/I5_OMN_HLS_SZCIMST_COMM_ADDR_MRT900_20141121.DAT) . This is the list of source files that we provide to the load function.

[2015-02-18 00:56] SamRoberts commented on #321
thanks, that is very helpful

[2015-02-18 01:06] rowandavies commented on #321
When I add `generateKey = true` to the first test in `maestro.core.task.LoadExecutionSpec`, sources is `List(normal)`, and there appears to be a corresponding exception (the lines match up between the maestro versions for `maestro.core.task.GenerateKey`):
[code]

[2015-02-18 01:18] rowandavies commented on #321
The key that's not found is what's returned by `flow.getProperty(CASCADING_SOURCE_PATH).toString`, which seems to be a full path, unlike what's in `sources` in these two cases.

[2015-02-18 01:27] SamRoberts commented on #321
Right, the cascading source path property is a fully qualified path, whereas none of the load inputs are. The right solution is probably for `load` to create a FileSystem instance from the execution Config and use it to fully qualify the source paths is is being passed.

Also, we need a unit test that tests the `loadWithKey` property.

[2015-02-18 07:42] rowandavies commented on #321
Okay, I'm close to having a fix for this.  Resolving the sources seems to work for the original instance of the issue.

Although, testing with `LoadExecutionSpec` still fails because `normal` resolves to something like `file:/tmp/hadoop/test-857a83c0-76a2-437c-b341-094caff5b41c/mapred/user/normal` which is different from `file:/tmp/hadoop/test-857a83c0-76a2-437c-b341-094caff5b41c/mapred/user/norma

[2015-02-18 08:13] rowandavies commented on #321
I've created a branch and pushed the path resolution fix:
    https://github.com/CommBank/maestro/tree/generateKeyPathFix

This still needs an internal maestro test with an extended thrift type.

[2015-02-18 13:56] SamRoberts commented on #321
@rowandavies Hadoop encourages users to pass around paths to the directory containing files, instead of paths to the file themselves. In that sense, the sources returned by `upload` are wrong, and the directories in the load spec are right. Hadoop handles both possibilities (either pass in the full file name, or it's immediate parent directory), so I think our load method should handle both possib

[2015-02-19 01:23] MadhuMi commented on #321
I have tested the fix. the issue is found to be resolved

[2015-02-19 22:38] rowandavies commented on #321
@SamRoberts I've implemented the first suggestion.  But I'm concerned that this affects the much more common generateKey=false case, so I'm still considering the other two.
* The second one I'm unsure whether it matters if a directory contains multiple files which are all assigned the same hash.
* The third seems nicely robust, but seems to require a mutable `hashes` map.  Although, turning `hashe

[2015-02-19 22:41] SamRoberts commented on #321
Right, the mutability should be an implementation detail of the hashes function, and should not affect it's referential transparency.

[2015-02-19 23:01] SamRoberts commented on #321
Oh, just to add: I also prefer the third option, and share your concerns about the first and second one.

[2015-02-23 02:40] jonjuscorpion666 opened #324 "Adding import au.com.cba.omnia.etl.util.SimpleMaestroJob in Maestro Api"
I think its better to add au.com.cba.omnia.etl.util.SimpleMaestroJob  in Maestro Api So that we need not  have to explicitly import same. I am not sure is right way  to add Util api inside Maestro API.

[2015-02-23 03:00] quintona commented on #324
That surely can't be right, do we already have project level dependency in that direction?

[2015-02-23 03:06] SamRoberts commented on #324
No, we do not. If we incorporated `SimpleMaestroJob` into maestro, we would take the code itself into maestro, one way or another.

[2015-02-23 03:13] quintona commented on #324
whats wrong with the explicit import? there are many ways of making that better

[2015-02-23 03:31] SamRoberts commented on #324
`SimpleMaestroJob` simply provides a default for one of the methods in a `MaestroJob` trait that Maestro provides.

To my mind, the most important question is whether that default behavior is a sensible thing to include in Maestro or not. I am not very worried about explicit importing `SimpleMaestroJob`, but I am slightly concerned that our users have elected to replace the `MaestroJob` trait we s

[2015-02-23 03:33] SamRoberts commented on #324
I would also be interested in finding out why people create `SimpleMaestroJob` instead of issuing a maestro pull request to add that behavior to `MaestroJob`.

[2015-02-23 04:03] maxmithun opened #325 "Upload for multiple sequence files into single location"
Unable to upload when multiple sequence of files comes for a single date. When the first sequence is  uploaded the INGESTION_COMPLETE flag is set and the upload of next sequence fails

[2015-02-23 04:53] stephanh commented on #324
It exists because I saw lots of loads that were creat a trait that was identical to `SimpleMaestroJob`.

The reason it is in `util.etl` instead of Maestro is that I'm not happy with that approach and I, therefore, don't want it in Maestro.

However, due to our skills profile we also lack the maturity at this stage to deal with the issue properly.

[2015-02-23 04:53] #324 closed

[2015-02-23 04:58] stephanh commented on #325
@SamRoberts can you please take a look at this.

[2015-02-23 05:28] SamRoberts commented on #325
It's a known issue. Do you want to spend time on a fix now?

[2015-02-23 05:37] stephanh commented on #325
Can you discuss with @maxmithun to either fix it or come up with a work around. It is affecting the remediation work for CDH5.

[2015-02-23 05:38] SamRoberts commented on #325
Sure

[2015-02-24 00:07] stephanh opened #326 "Execution.from methods don't have enough information when failing"
The Execution.from methods only include the exception of  the future that was supposed to be run but no information about the context in which the future is being run. So you don't actually know where in the code the failure occurred.

[2015-02-24 03:05] shmookey commented on #317
The intermediate code produced by FieldsMacro constructs each Field with a getter _function_ by wrapping the getter _method_ in a closure, which generates a new class:

[code]

Instead of constructing Field with a name and a getter function, how about we construct it with a thrift TField? The getter method can be resolved from TField.id via the thrift object's productElement() - at the cost of pot

[2015-02-24 04:30] stephanh commented on #317
Are you able put some working sample code for how this might work forward so that we don't break backwards compatibility in how `Field` and `FieldWrapper` are used, don't loose type safety and avoid reflection if possible.

If we can't come up with a decent solution for this we might table the issue.

[2015-02-24 06:34] shmookey commented on #317
Will do. Thinking about it a bit more, I think we should be able to subclass Function for each field type on the FieldsWrapper then create function instances for each field - we produce the same number of objects, but reduce the class output to the number of return types. It’s type safe and preserves the API, so everyone should be happy.

[2015-02-25 05:27] rowandavies opened #328 "Mention complex thrift types (i.e., struct, map, set, list) in README"

[2015-02-25 06:12] rowandavies opened #329 "Fill in README for row filters, cleaners, splitters, transformers and update partitioners"

[2015-02-26 05:05] SamRoberts commented on #295
This is done

[2015-02-26 05:05] #295 closed

[2015-03-02 07:08] rowandavies commented on #321
There is a tentative fix for this issue, but it's not completely satisfactory.
* It implements Sam's first suggestion above of blowing up the list of source files, and does this only when generateKey=true.   It ignores files starting with `_`, but this isn't included in the CDH5 branch (including the full path is a work around).
* This doesn't exactly match the CASCADING_SOURCE_PATH property for l

[2015-03-02 22:30] stephanh commented on #321
What about taking the two different paths converting them to a HDFS `Path` and then use `makeQualified` to get the same representation?

[2015-03-02 22:30] SamRoberts commented on #325
a fix for this has been merged into master

[2015-03-02 22:30] #325 closed

[2015-03-02 22:33] SamRoberts commented on #321
Rather then guessing in advance how CASCADING_SOURCE_PATH is going to work, I think the best approach is to try and get my third suggestion working. I think you can probably pass a custom serializable `Function` sub-class which uses a `Map` to memoise it's results.

[2015-03-02 23:29] SamRoberts commented on #316
1. **The projects don't always agree on the version of a library to use**

   Use strict ivy conflict management.

   Solutions, from preferred to least preferred. If it is hadoop classpath jar, pin the version, regardless of what other solution we may or may not follow.

   1. If possible, adjust version we depend on to remove conflict. (E.g., our version of guava is too new iirc)
   2. If on had

[2015-03-03 00:30] stephanh commented on #316
:+1:

I would suggest working with the lowest level of libraries and working your way up so that at every step you trim it down and then it should hopefully be less of jungle when you get to the load itself.

[2015-03-03 00:39] SamRoberts commented on #316
makes sense. I was going to start with maestro, but parlour would probably be more sensible

[2015-03-03 01:03] stephanh commented on #316
I was thinking omnitool or permafrost.

[2015-03-03 01:04] SamRoberts commented on #316
I think another appropriate set of libraries to pin with dependency overrides is the scala-library and related jars (pin to `scalaVersion`, rather then some other 2.10 version).

[2015-03-03 01:54] SamRoberts commented on #316
interestingly, omnitool has no conflicts, although I expect that it will cause conflicts later when I do maestro. But I will handle those conflicts then.

[2015-03-03 02:00] SamRoberts commented on #316
Same story for permafrost. We're only going to start seeing those conflicts as we integrate them into higher level libraries.

[2015-03-03 06:38] SamRoberts commented on #316
Here's an interesting dependency: libthrift. We depend on libthrift in a number of ways:

 - Version 0.9.0-cdh5-2 through hive-exec, provided when the user calls uniform's `depend.hive`.
 - Version 0.6.1 through bijection-scrooge, provided when the user calls uniform's `depend.scrooge`.
 - Version 0.7.0 through parquet-cascading. parquet-cascading is provided on the hadoop classpath, so this versi

[2015-03-05 23:13] SamRoberts commented on #316
Need to remember to ensure there is only one canonical place where parquet-cascading is defined and introduced. At the moment, parquet-cascading is defined in uniform, and also our private repos util.etl, and etl-plugin.

[2015-03-08 23:53] jamindaw commented on #32
Based on recommendation from BICD/PWC, we need to provide load assurance on the basis of the content of the Header and Trailer record.

Requirement is to;
1. Enable the developer to parse a header/trailer record based on a definition of the structure.
2. The developer can validate the load / extract of a file based on the values in the header/trailer record.

N.B. This solution needs to work irres

[2015-03-10 23:43] jamindaw commented on #32
For home loan load, the value is a sum of absolute values of the field identified in the trailer.

[2015-03-12 23:31] jamindaw commented on #1
It is possible to append arbitrary fields using the transform macro.

We should look at refactoring some of the load logic though to make it more generic.

[2015-03-12 23:31] #1 closed

[2015-03-12 23:42] jamindaw commented on #5
Change this to store header / footer details together with operational metadata.

This should include, unique identifier, row counts and checksum, checksum field

[2015-03-12 23:48] jamindaw commented on #315
This a problem of how extracts are triggered and designed. We need to fix that problem.

[2015-03-14 02:46] stephanh commented on #314
Closing this issue due to inactivity. Please reopen it if it is still a problem.

[2015-03-14 02:46] #314 closed

[2015-03-14 02:48] stephanh commented on #311
The g8 project has been updated.

[2015-03-14 02:48] #311 closed

[2015-03-14 02:49] stephanh commented on #293
Duplicate of #276.

[2015-03-14 02:49] #293 closed

[2015-03-14 02:51] stephanh commented on #257
Closing this issue due to inactivity. Please reopen it if it is still a problem.

[2015-03-14 02:51] #257 closed

[2015-03-14 02:53] stephanh commented on #259
@SamRoberts what is the latest state of this? Can it be closed based on the PR you did and parquetjoiner?

[2015-03-14 02:54] stephanh commented on #228
With all the work and testing we have done this is now done. We will merge the CDH5 branch next week.

[2015-03-14 02:54] #228 closed

[2015-03-14 03:10] stephanh commented on #78
Done as part of the CDH5 upgrade. Currently on the CDH5 branch and will be merged next week.

[2015-03-14 03:11] #78 closed

[2015-03-14 03:12] stephanh commented on #47
@anandsiva can you please provide some more detail and how it relates to #259.

[2015-03-14 03:16] stephanh commented on #31
With the execution monad it is now possible to validate a file based row counts provided elsewhere. The only part that is still missing is good support for parsing header and trailer records which is raised in #32.

Since the outstanding work is just a duplicate of #32. I'm going to close this issue.

[2015-03-14 03:16] #31 closed

[2015-03-14 03:27] stephanh commented on #18
There is compatibility testing in ebenezer for reading and writing parquet files using Hive and Scalding (ebenezer).

[2015-03-14 03:27] #18 closed

[2015-03-15 10:34] SamRoberts commented on #259
I didn't close this because I don't have any reason to believe that my load fix was enough to solve the broader problems of the tools we use producing small files.

I imagine that, at the very least, we should be investigating hive files too. But it's really not up to me: we should be getting feedback from the platform team as to whether our loads are still producing too many small files or not.

[2015-03-16 02:32] #211 closed

[2015-03-16 23:07] stephanh opened #333 "Write tool to delete loaded files on HDFS."
The files that have been loaded into parquet on HDFS should be deleted from the src folder after 30 days.

[2015-03-16 23:17] SamRoberts commented on #333
Is this specific to parquet? Are we talking about the `source` folder that upload uses?

[2015-03-16 23:25] stephanh commented on #333
I have updated the issue with some more details.

[2015-03-17 05:06] jamindaw opened #334 "Extend Thrift structure to support security classification requirements"

[2015-03-17 05:07] jamindaw opened #335 "Extend Thrift structure to support business metadata capture"

[2015-03-17 05:07] stephanh commented on #334
@jamindaw you are going to have to provide a lot more detail for that.

[2015-03-17 05:08] stephanh commented on #335
More detail please.

[2015-03-17 05:54] SajeevAr opened #337 "Handling strings within double quotes for file based loads"
For file based loads, there is a use case where only text fields in a row are enclosed in double quotes and all other integer/decimal fields do not have any double quotes in a comma delimited file.

Sample row in input file:
"ABC001","232",45,0.00,"Sample Data","Sample Data (String,Title)","8/298/78899",1,"26/11/2014",1,"",""

Need to parse data as follows :
1. All data values within double quotes

[2015-03-17 06:09] SamRoberts commented on #337
perhaps we should investigate it a proper csv parsing library is available which meets our needs

[2015-03-18 03:05] rowandavies commented on #337
@SajeevAr Do we need to allow quoted text fields that contain quoted double quotes like `"A ""quoted"" word"` (following the csv rule of using "" for " within quotes)?  (This should be easy.)
Similarly, should we allow them to include newline characters?  (This might not be easy.)

[2015-03-18 22:03] rowandavies commented on #321
@SamRoberts @stephanh Okay, I've been swapping between the two alternatives.   The second version so far has been awkward just because using the Hdfs monad and passing the filesystem object doesn't seem to fit so well with using it for each row, but it will work.   Currently I have the third version working - the root cause of the planner failure seems to be that `MessageDigest` instances aren't s

[2015-03-18 22:20] SamRoberts commented on #321
@rowandavies sounds good. Would you mind showing me what you have so far?

[2015-03-18 23:12] rowandavies commented on #337
@SajeevAr @anandsiva _Summarizing our discussion yesterday:_ there's no current need to deal with newline characters in quoted fields.  Should the need come up later, most likely it would be dealt with separately via preprocessing.

Also, I'm not assigning this to myself now, I have other issues I need to work on currently.  I'd gladly mentor if you want to work on this feature now.

[2015-03-19 01:20] rowandavies commented on #321
@SamRoberts Sure - in fact I forgot to say that I already committed what I have to the branch:
   generateKeyPathFixMemo

I haven't yet tested it with a real project.  And I think a lot of what's there in the generateKey code path can be simplified, and perhaps refactored so that `pipeWithDateAndKey` is a wrapper around `pipeWithDate`.

[2015-03-20 04:55] rowandavies commented on #321
@SamRoberts Okay, now I understand how `prepare` and `operate` work in cascading, I've changed it to just calculate the hash of the filename in `prepare`, and removed the lookup table altogether.  This is much simpler, and should never have observably different performance.

I've committed a new version to the generateKeyPathFixMemo branch, but it doesn't really fit with the name of that branch, s

[2015-03-20 07:08] rowandavies commented on #321
The new fix is in PR #338

[2015-03-23 23:32] stephanh commented on #309
What do you mean by the action to recover from. Can you elaborate a little bit and I'll have a look at it.

[2015-03-23 23:37] SamRoberts commented on #309
Back when I created this issue (may not be true anymore with your refactor?), if you had `a.ensure(b)` (can't remember exact syntax), the `ensure` method would run `a`, and then run `b` no matter whether the result of `a` was a success or failure. But if running `a` caused an exception, `b` would not be run.

Although our api encouraged the creation of safe actions, which would return a failure in

[2015-03-24 00:15] #326 closed

[2015-03-24 00:43] stephanh commented on #147
I can fix this problem by either changing `case class Tag[A](run: List[String] => List[(String, Field[A, _])])` to something like `case class Tag[A](run: List[String] => String \/ List[(String, Field[A, _])])` and ensuring that the run method fails if the list is too short or long. This will have an impact on backwards compatibility. Probably not too much since I don't think anyone use it directly

[2015-03-24 00:44] stephanh commented on #303
I haven't encountered this issue recently with the changes we made as part of the CDH5 upgrade.

[2015-03-24 00:48] SamRoberts commented on #147
I was imagining the first method. Where reasonable, I would prefer to report errors at the point where they arise, not check for errors first and then rely on that check for the correctness of later steps. But I was assuming that users weren't using tag directly.

(Which is a good point? If some of these "internal" load types are in our api, maybe we should take them out?)

[2015-03-24 00:57] vineethvarghese commented on #147
Changing the run on Tag seems the right way if possible.

[2015-03-24 01:26] rowandavies commented on #147
@stephanh Maybe I've missed something, but I thought that in the existing `LoadEx.parseRows`, within the `Decode.decode` will already catch the situation of extra fields and hit the `case TooMuchInput =>`.

But, I'd agree that the first solution is better.  Defining the tags for `StringPair` and `StringTriple` as infinite streams doesn't feel so natural.

[2015-03-24 01:38] SamRoberts commented on #147
@rowandavies the current implementation of tag, created by our macros, zips the list of columns with the list of expected `Field`s, thereby truncating any extra columns before they are ever passed to decode.

[2015-03-24 02:27] rowandavies opened #341 "Generating keys in a load may not extend as well to aggregated map tasks."
The issue is that it's unclear what you'll get from `flow.getProperty(CASCADING_SOURCE_PATH)` beyond simple file sources.

From the documentation and quickly browsing the cascading source code (e.g. `MultiInputSplit.java`), it's hard to rule out any of these:
1. always returning ""
2. it may always give the first or last filename involved
3. it may swap between files as it goes, perhaps calling `p

[2015-03-24 02:49] rowandavies commented on #341
There seem to be some quite different ways of tackling this.

If we really require a unique hash for each source loaded, regardless of aggregation and the like, then perhaps this should be added as an extra field to each row.   Or we could use the hashCode and/or identifier generated in the scalding `FileSource.scala` or the hashCode for the cascading `MultiInputSplit` instances which would also a

[2015-03-24 03:40] rowandavies commented on #147
Oh.  So then the maestro tests using `StringPairTag` aren't representative of production code.   Having run the tests, and seen the rows with extra columns get tagged as errors, I was mislead into thinking that was what would happen during actual loads.  So definitely something needs to be fixed here.

I don't object to the zip with an infinite stream, but I don't think this should be built into `

[2015-03-24 03:58] stephanh commented on #147
Agreed. I want to deal with this properly and want StringPair and StringTiple to be representative of what they should be like.

[2015-03-24 05:24] stephanh commented on #147
Since no one spoke up about concerns with backwards compatibility and I don't think it will have a big impact I'm going to change the tag implementation.

[2015-03-24 05:36] rowandavies commented on #147
Cool.  I'll modify `StringTriple` accordingly in #338, I guess the modification to `StringPair` instead belongs here in #147.

[2015-03-25 05:03] #147 closed

[2015-03-25 05:37] lijessje commented on #32
What is the development status for this task now?
When can we expect this utility available to use (starting from HLS load)

[2015-03-25 06:36] rowandavies opened #344 "Remove or update the old `CustomerExecution` example."
This has now been replaced by `CustomerJob` in the README, but that is simpler and `CustomerExecution` might still be a good base for fuller examples.

[2015-03-26 06:26] #321 closed

[2015-03-26 06:28] rowandavies opened #346 "Hive seems to print out the exceptions it throws even if we catch them"
@stephanh said: not sure where they are being printed from but I'm pretty sure that it is within hive although we should just make sure that that is the case and we can't disable it.

[2015-03-29 21:33] rowandavies commented on #306
This has been partly address from a user point of view by having handy links to the other APIs in the maestro README.

[2015-03-30 06:26] ranjanin08 opened #348 "Issue with running Hive in unit tests after migrating to CDH5.2"
We are experiencing issues in running unit tests which test Hive queries involving a join after migrating to CDH5.2.
[code]

An example of where this problem can be seen is HiveTesting in nagara.etl.features-gdw repo on stash.

[2015-03-30 06:50] stephanh commented on #316
@SamRoberts can this be closed?

[2015-03-30 06:56] stephanh opened #349 "Combine Join and Transform macro"
Get transform functionality to work on multiple input thrift structs.

[2015-03-30 07:02] SamRoberts commented on #316
Have done steps 1-6 in the original comment, step 7 is "wontfix" for now, but I need to create an issue for that before closing this one, and step 8 still needs to be done (not removing the whole hack, but reducing it's scope to just the scala-compiler jar).

I need to go now, but I'll be doing those final bits and pieces first thing tomorrow I expect.

[2015-03-30 07:11] SamRoberts commented on #206
Superseeded by #316

[2015-03-30 07:11] #206 closed

[2015-03-30 07:13] SamRoberts commented on #126
The partition functions are more generic now.

[2015-03-30 07:13] #126 closed

[2015-03-30 07:14] SamRoberts commented on #47
@stephanh @anandsiva this seems like it should be closed now?

[2015-03-30 09:51] vineethvarghese commented on #300
Scalding 0.13.1 is out https://github.com/twitter/scalding/releases/tag/0.13.1

[2015-03-30 23:44] anandsiva commented on #47
This is related to platform where lots of small files are created due to the fact that some of the inbound files are relatively small. And there are lots of files with few Kb on a day to day basis received from the source system. This could be merged with #259

[2015-03-30 23:46] SamRoberts commented on #47
Sure. I will close this now in favor of #259, which is still open pending feedback about whether we are still creating lots of small files or not.

[2015-03-30 23:46] #47 closed

[2015-04-01 05:55] rowandavies commented on #348
I think you mentioned earlier that one or two other people had a similar issue - can you ask them to "comment" here the with the details to help investigate the issue?

[2015-04-01 06:55] SamRoberts commented on #337
I am thinking of changing the delimited splitter to use http://opencsv.sourceforge.net/apidocs/com/opencsv/CSVParser.html#parseLine(java.lang.String) under the hood. If there are any concerns about backwards compatibility, could also create a new `csv` splitter instead.

[2015-04-01 07:20] rowandavies commented on #348
Can you create an ordinary, remote branch on stash so I can easily clone it to investigate?

[2015-04-02 02:05] SamRoberts commented on #40
This has been completed by #351

[2015-04-02 02:05] #40 closed

[2015-04-02 02:07] SamRoberts commented on #32
@lijessje this has been completed, see the change in #351 for details (or ask me)

[2015-04-02 02:07] #32 closed

[2015-04-02 02:07] SamRoberts commented on #5
This has been completed by #351

[2015-04-02 02:07] #5 closed

[2015-04-02 05:27] #328 closed

[2015-04-02 07:07] anukrishnank commented on #348
I am also facing similar issue . Test cases are failing when hive query is having join condition . But in my case the error is different .

java.io.IOException: Cannot run program "/usr/bin/hadoop" (in directory "/private/tmp/hadoop/test-baf1c685-36a4-4e26-9da1-0737b0978605/mapred/user"): error=2, No such file or directory
	at java.lang.ProcessBuilder.start(ProcessBuilder.java:1047)
	at java.lang.

[2015-04-07 02:11] SamRoberts commented on #337
#352 provided a new splitter: `Splitter.csv`, which can be used with quoted strings.

[2015-04-07 02:11] #337 closed

[2015-04-07 06:25] SamRoberts commented on #142
Without code samples, it's hard to know what the original issue would translate to with the new Execution API. It's easy to find multiple serialization problems with the new API, though, in the CustomerExecution example:

[code]

Running the CustomerExecution example with `export CHILL_EXTERNALIZER_DEBUG=true` and `-Dsun.io.serialization.extendedDebugInfo=true`, we can see that the standard Custom

[2015-04-07 08:25] rowandavies commented on #348
@anukrishnank Do you have a project on stash that leads to this error?  If so, can you make a branch available to me so I can experiment to see why this is happening?

[2015-04-07 08:26] rowandavies commented on #348
Also, are you manually setting the path at some point?

[2015-04-07 11:08] SamRoberts opened #353 "Ensure serialization works on maestro data types"
Kryo serialization currently fails on our Validators.

Less importantly, Java serialization currently fails due to the serializer value in `LoadEx.execution` not being serializable.

See comments on #142 for additional serialization issues and background.

At a minimum, we should ensure that kryo serialization works for all maestro data types. Java serialization probably will never work with all o

[2015-04-07 23:51] stephanh commented on #303
Doesn't seem to be happening anymore so I will close it.

[2015-04-07 23:51] #303 closed

[2015-04-08 04:37] toddmowen commented on #285
Based on the comment by @rowandavies, I will convert to `Hdfs` unless somebody has a reason to prefer `Execution`.

[2015-04-08 04:42] rowandavies commented on #285
Hdfs seems appropriate, and there's an explicit coercion from this to `Execution`, namely `RichExecution.fromHdfs` aka `hdfs`.

[2015-04-08 07:18] SamRoberts opened #355 "Macro dependencies are pulled in at runtime"
Libraries which depend on maestro are going to pull in all maestro's dependencies at runtime. This includes macro dependencies which are only required at compile time.

Ideally there would be a reasonable way of importing maestro which allowed me to compile against all dependencies, including macro dependencies, but only include non-macro dependencies at runtime.

[2015-04-08 07:20] SamRoberts commented on #316
I have created the issue for step 7, and have a pull request to remove the temporary jar hack from etl-plugin, so I am closing this now.

[2015-04-08 07:20] #316 closed

[2015-04-10 04:46] SamRoberts commented on #259
I spoke to the platform team about this, and am closing the issue for now. Early testing showed it made an improvement. If there are loads it is not working for, we can raise a new issue.

[2015-04-10 04:46] #259 closed

[2015-04-11 13:48] #308 closed

[2015-04-12 23:59] rowandavies commented on #348
@ranjanin08  @anukrishnank Okay, I had a preliminary look and this seems likely due to changes in `org.apache.hadoop.hive`, but it's hard to say for sure.  If so, this may take some time to resolve since we may need to involve Cloudera.

Meanwhile, if there are any situations where tests with hive joins do succeed with CDH5.2, it would be good to post details here.

[2015-04-13 03:34] SamRoberts commented on #353
this has been fixed

[2015-04-13 03:34] #353 closed

[2015-04-13 03:35] SamRoberts commented on #142
It's hard to map the original issue on to our new API, but given the new serialization fixes, I think we should close this for now until another issue comes up

[2015-04-13 03:35] #142 closed

[2015-04-13 03:37] SamRoberts commented on #309
@stephanh We had a discussion about a related issue a few days ago, and your position then was that our code shouldn't have to deal with the possibility of Result actions throwing exceptions: that it was up to the user to avoid "bad" Result actions like this.

If we apply that philosophy to this issue, we would simply close this as "won't fix". Your thoughts?

[2015-04-13 03:46] SamRoberts commented on #15
This has been fixed by #352

[2015-04-13 03:46] #15 closed

[2015-04-13 04:48] SamRoberts commented on #12
Ran maestro example with some bad values in the customer data, they were trapped and printed out in the errors file just fine. Didn't see @shmookey had been assigned to this, though, so I'll just leave this comment here. :smile:

[2015-04-13 05:25] #290 closed

[2015-04-13 05:28] SamRoberts commented on #12
Additional comment for @shmookey: we refactored `load` to use the TypedPipe's `addTrap` method some time ago.

[2015-04-13 06:28] stephanh commented on #309
I think for ensure it is important to make sure that the specified action is always attempted to run. If the attempted action blows up then I think that is a misuse of the API.

[2015-04-14 02:07] #265 closed

[2015-04-15 23:24] vineethvarghese commented on #300
@stephanh When do you think we will be moving to 0.13.1?

[2015-04-16 00:01] vineethvarghese opened #366 "UploadExecution.parseHT will fail even if only one of the parsers failed"
The function :
[code]
accepts 2 functions that could fail independently but the return type is just a Result. So, even if only one of those parser fail we won't be able to return a result of the other parser. During the code review, we left this in this form thinking that we will find a way to combine 2 Results. But given that that is not possible, we may need to rethink this API.

[2015-04-16 00:12] SamRoberts commented on #366
I thought this was the desired behavior? The user has asked to get both the header and trailer data, and we can't supply them with both. My understanding during the review was that we wanted to combine both errors, rather than just reporting the first error message.

It it fairly trivial for the user to run `parseHeader` and `parseTrailer` separately.

[2015-04-16 00:18] vineethvarghese commented on #366
Yeah we can't combine the errors, so should we have this API was more the question? We could document this fact if we think it is a reasonable approach.

[2015-04-20 03:43] shmookey commented on #317
Fixed in https://github.com/CommBank/maestro/pull/331

[2015-04-20 03:43] #317 closed

[2015-04-20 03:44] shmookey commented on #349
Provided by https://github.com/CommBank/maestro/pull/369

[2015-04-21 00:34] rowandavies commented on #348
Quote from @anukrishnank:

[2015-04-21 01:27] jithinjohn opened #371 "Header and Trailer parsing for gzip files during upload"
Currently header and trailer parsing is supported only for text files. We do have gzip files which are loaded as such and needs to parse header and trailer  for load assurance.

[2015-04-21 07:53] stephanh commented on #366
I don't think we need to combine errors here. You can just short circuit based on any failure.

I'm happy for it to fail unless both header and trailer parsing succeeds. @vineethvarghese what would you like to see happen in order to close this ticket?

[2015-04-21 07:55] stephanh commented on #318
I think this was done by @jithinjohn as part of #360. @jonjuscorpion666 can you check if there is anything still missing or close the ticket?

[2015-04-21 07:56] stephanh commented on #315
Closing this since this should now be handled by utilising the control table.

[2015-04-21 07:56] #315 closed

[2015-04-22 00:56] jonjuscorpion666 commented on #318
@stephanh #360 looks fine .you can close the ticket

[2015-04-22 00:58] #318 closed

[2015-04-23 01:44] SajeevAr opened #372 "Unable to resolve scalaz syntax >> and >>="
Scalaz syntax >> and >> are not getting resolved in etl.util version 1.7.1-20150416175103-8c82ec3. This is getting resolved in previous etl.util versions. This change happened after the maestro version upgrade from 2.8.0-20150414041653-031ac2d to 2.9.0-20150416050318-0fdf427

Following are the errors obtained while using >> and >>=

value >> is not a member of com.twitter.scalding.Execution[Unit]

[2015-04-23 03:49] #372 closed

[2015-04-23 04:17] stephanh commented on #371
@jithinjohn can you add a step to unzip the files?

[2015-04-23 04:22] shmookey opened #374 "Automapper should accumulate errors"
Currently compile throw an exception and terminate the mapper process. Ideally we should collect all mapping errors and display them at once.

[2015-04-23 05:14] jithinjohn commented on #371
@stephanh We could do it. Are you suggesting to unzip the files before we use `upload` in our project. Also is it a work around?

[2015-04-23 23:21] vineethvarghese commented on #371
@jithinjohn upload is pretty complicated as it is. Is this something you see in many loads?

[2015-04-24 00:58] jithinjohn commented on #371
@vineethvarghese  For BICD we have 2 sources total of 41 files. @jonjuscorpion666 @maxmithun @snehalvidyan  Can you please comment about other loads.

[2015-04-24 01:13] snehalvidyan commented on #371
@vineethvarghese Project loads also have one load which have zip file as input.... Nimbus Hitdata

[2015-04-24 03:30] anandsiva commented on #371
@vineethvarghese @snehalvidyan  For nimbus hit data, we unzip and then load the data. @maxmithun Please confirm if this is the case?

[2015-04-24 04:19] rakheshrnair commented on #371
@anandsiva @maxmithun we are currently loading the zip file as such after doing the validation for Nimbus

[2015-04-24 04:23] rowandavies opened #376 "CustomerJob tests needs old files cleaned up."
E.g., the expected file for `by-cat`

[2015-04-24 09:42] vineethvarghese commented on #371
So I counted 4 loads with this need which kind of suggesst that it is not quite generic?

Have you considered adding something to etl.util?

[2015-04-26 23:26] stephanh opened #377 "Add Sqoop export from pipe"
Add functionality so that we can do a sqoop export from a scalding pipe.

This requires writing the data out in a way that sqoop can parse (probably csv)

[2015-04-27 05:25] rowandavies opened #378 "Update README with new `CustomerJob` including a transformation."

[2015-04-27 07:14] stephanh commented on #371
The current plan is that you uncompress the file before parsing the header and trailer. From a performance perspective you will have to unzip the whole file anyway in order to parse the trailer.

Since we will have to support a number of different approaches such as encrypted files, gzipped files, zip files I don't think this should go into Maestro. However, etl-util might be a good place for it.

[2015-04-27 07:15] #371 closed

[2015-04-27 07:16] stephanh commented on #366
@vineethvarghese are you happy for me to close this ticket?

[2015-04-27 10:36] vineethvarghese commented on #366
Yeah. Don't think we can do anything much.

[2015-04-27 10:36] #366 closed

[2015-04-28 03:27] maxmithun opened #379 "Database does not exist: default"
Issue while executing mulitple test cases, "Database does not exist: default"

Execution is using 2 control tables one at execution side and other at source.
Execution step includes :
1) Sqoop Import
2) Load
3) Hive Paritioned Table
4) Hive Intermediate Table

[code]

[2015-04-28 04:04] stephanh commented on #379
@maxmithun have you tried setting the parallel settings to false as @rowandavies suggested?

If that doesn't work can you please provide a minimal reproducible test for this.

[2015-04-29 00:17] maxmithun commented on #379
@stephanh  i have tried the setting suggested by @rowandavies but didnt workout.

you can take the farlo-clm project and uncomment 2 test and execute it, which will produce the issue

[2015-04-29 03:12] rowandavies commented on #379
I'm looking into this, as support.

[2015-05-04 03:16] rowandavies commented on #379
@maxmithun I uncommented two tests (and commented out the ojdbc dependency).  It results in the exceptions you posted.  But, it's not obvious what the issue is, and the code is sufficiently complicated and unfamiliar to me that it would be a lot of work for me to even to narrow down the possibilities of which code is the source of the issue.  Also, it's unclear what steps you've taken to determine

[2015-05-04 04:01] vineethMM opened #382 "ViewExecution.viewHive doesn't overwrite the partition as expected."
the call to 'viewHive(hiveTbale, inputPipe, append = false)' doesn’t fully overwrite the partition, instead it overwrites the files in partitions which are of the same name.Due to this some files remain in the partition and result in duplicate/unwanted  records. Currently all GDW loads using this functionality are affected by this issue.

[2015-05-04 05:29] stephanh commented on #382
@vineethMM as a work around to this for the time being can you just use the `Hdfs.delete` from the Hdfs monad to delete the target folder before you write to it.

[2015-05-05 00:55] aswinr7 opened #383 "Compilation error while applying transformation using automap"
automap macro is not getting resolved and getting compilation errors on the output thrift fields when applying transformation.

[2015-05-05 02:26] shmookey commented on #383
Macro annotations require macro paradise to be enabled. For ETL projects, you can do this by adding the following to the end of the `etl.project` line in `build.sbt`:

` ++ Seq(addCompilerPlugin("org.scalamacros" % "paradise" % "2.0.1" cross CrossVersion.full)0)`

[2015-05-05 04:21] #383 closed

[2015-05-05 04:47] quintona commented on #383
Do we want this line in all elt.* projects?

[2015-05-05 04:51] stephanh commented on #383
The transformation macro is a core feature of Maestro so we want every project to be able to use it by default.

I would have preferred that the macro doesn't require having macro paradise everywhere but it's too late for that.

[2015-05-07 00:22] sudjam opened #384 "Automap macro transform function restricting number of parameters to 22"
Automap transform function throws error when more than 22 parameters are passed to it. For 24 parameters, we get the error like "object Tuple24 is not a member of package scala".

When we tried to investigate the issue, we came across http://stackoverflow.com/questions/4152223/why-are-scala-functions-limited-to-22-parameters

Please suggest if we can have work-around.

[2015-05-07 00:49] stephanh commented on #384
@sudjam are you able to use the transform macro instead in the mean time https://github.com/CommBank/maestro/blob/master/maestro-example/src/main/scala/au/com/cba/omnia/maestro/example/TransformExecution.scala#L56.

[2015-05-07 00:50] stephanh commented on #384
Scala doc: https://commbank.github.io/maestro/latest/api/index.html#au.com.cba.omnia.maestro.macros.Macros$

[2015-05-07 02:45] SajeevAr opened #385 "Load Execution returning EmptyLoad even if valid records available after filtering"
In a file based load, the type returned in LoadInfo is used for handling different load scenarios. But LoadExecution is returning an EmptyLoad even though valid records are available after filtering. While running the same job again with same input files, it may return LoadSuccess. This issue is occurring only randomly.

It seems this is due to a TimeoutException occurring in HadoopStepStats, whil

[2015-05-07 03:46] rowandavies commented on #385
@SajeevAr I think you said earlier that there was only one known occurrence of this situation.  Is this still the case?  Is it possible to repeatedly run the same load to see how often it occurs again?

I think you investigated this issue some, including the Cascading source code, and thought a bit about what we might do.  Can you add anything you think would be useful here just so no one has to r

[2015-05-07 07:33] stephanh commented on #382
@kfish I figured out how to solve the problem.

You will need to write all the data to a temporary location. Enumerate all the sub directories, delete the corresponding existing sub directories in the destination and then copy the new ones across.

[2015-05-07 07:43] stephanh commented on #382
You will also need to to update the hive partitions to ensure that the new files are picked up.

[2015-05-07 08:03] stephanh commented on #382
@vineethMM we will try and address this next sprint. However, this is not a simple issue and might take a while to solve.

[2015-05-07 12:31] vineethMM commented on #382
@stephanh thanks for the update. We can have the work around for scenarios where, we know the partitions that are going to be affected,. Else its difficult to track the duplicates/ unwanted rows.

[2015-05-08 00:22] vineethvarghese commented on #385
A quick look at the cascading code suggests that we can control the wait time to get a counter. The default is 5 sec which might be too low.

[2015-05-08 08:06] sudjam commented on #384
@stephanh Yes.. transform macro works. It accepts more than 22 parameters. Thanks.

[2015-05-12 23:23] toddmowen opened #386 "Simplify MaestroHdfs tests"
I have a patch ready, but it requires latest version of permafrost, therefore waiting on Scala 2.11 upgrade to Maestro.

(Technical details: CommBank/permafrost#11 allows us to assume that file listings are ordered, therefore `MaestroHdfsSpec` can be rewritten more concisely without the use of `containTheSameElementsAs`).

[2015-05-12 23:26] #285 closed

[2015-05-12 23:37] toddmowen opened #387 "Remove deprecated Guard"
Deprecated in #370. Can be removed once downstream projects have migrated to the replacement `MaestroHdfs`.

[2015-05-14 02:09] SajeevAr commented on #385
@rowandavies Unfortunately it is very difficult to recreate this scenario, since it is hard to predict when this timeout will occur. I tried to run the same job multiple times, but this issue occurred only once for the current load, but seen the same issue in a different project some time before. So this may require some deeper investigation.

Though this occurs rarely, if it is not handled, it ca

[2015-05-14 03:44] shmookey opened #389 "Use arbitrary thrift structs in sqoop export tests"
As described in https://github.com/CommBank/maestro/pull/380, use arbitrariness instead of predefined object values for sqoop export tests.

[2015-05-18 01:30] shmookey commented on #12
Appears to work fine for me, closing.

[2015-05-18 01:30] #12 closed

[2015-05-18 01:31] #349 closed

[2015-05-18 01:32] shmookey commented on #377
Implemented in https://github.com/CommBank/maestro/pull/380

[2015-05-18 01:36] shmookey commented on #384
This issue is addressed in https://github.com/CommBank/maestro/pull/388
Automap now uses a slightly different notation: braces instead of brackets, and no commas at the end of each rule. An example is available at https://github.com/CommBank/maestro/blob/e4834b09b46746f63d1aeaa2a67cab279003af9c/maestro-example/src/main/scala/au/com/cba/omnia/maestro/example/CustomerJob.scala

[2015-05-18 01:37] stephanh commented on #377
Has anyone used this new functionality? Can you please make sure that someone from loads tries it in one of their loads and it works for them.

[2015-05-18 02:12] vineethvarghese commented on #377
@shmookey @aswinrkrishnan wanted to use this. Maybe you could check with him or @jonjuscorpion666 .

[2015-05-18 03:29] jonjuscorpion666 commented on #377
@shmookey . We have a similar requirement,will test and keep you post .

[2015-05-18 06:15] stephanh opened #391 "Add tests for automap error messages"
We should test that when automap fails to compile it produces the right error messages. See the tests in JoinMacroSpec.

[2015-05-18 06:46] dkristian opened #392 "Example scripts and directory structures are not up to date"

[2015-05-21 07:44] SajeevAr commented on #385
Another occurrence of the same issue happened for the same load with a different input set. This time also we can seen time out warning in the log.

15/05/21 14:44:45 INFO flow.FlowStep: [] starting step: (1/1) ...b8a-8330-eb6674466b84.seq
15/05/21 14:44:57 INFO mapred.FileInputFormat: Total input paths to process : 1
15/05/21 14:44:58 INFO Configuration.deprecation: io.bytes.per.checksum is depre

[2015-05-22 01:14] afcowie commented on #346
The stack traces are the result of _rampant_ calls to `printStackTrace()` all over the place in the Hive codebase. That really needs sorting, and I saw a patch upstream where one was removed (as a side effect of fixing a `null` return somewhere) so clearly that's something they're happy to accept.

Working on this upstream; https://issues.apache.org/jira/browse/HIVE-10775

AfC

[2015-05-22 14:06] stephanh opened #397 "Automap exception is not informative"
Automap just throws an illegal argument exception when the same field has different values at runtime that is not very helpful. The exception needs to include an error message saying which field from which structs did not equal and what values they had.

[2015-05-25 00:13] vineethvarghese commented on #385
@stephanh Maybe we should take this up?

[2015-05-25 00:21] aswinrkrishnan commented on #377
@shmookey All the fields exported is "null" at the teradata side. May be its due to the "Encode.encode(nul, _)", I tried exporting without this and it worked. Could you please look into this..?

[2015-05-25 00:29] #214 closed

[2015-05-25 00:30] stephanh commented on #214
Parquet uptake is increasing so we won't do that for now.

[2015-05-25 00:40] quintona opened #398 "Scheduling and deployment design proposal"
Hi Guys,

I have been thinking alot about how we do deployments and manage scheduling. There are a couple of factors:
* RPM based deployments are fundamentally about mutating a server state, this will always create numerous issues
* Externalised scheduling is evil, is rips part of a "module" out and puts it somewhere else, making it brittle
* Our interface contracts to the jobs are opaque at best.

[2015-05-25 01:14] #384 closed

[2015-05-26 01:07] gavinwhyte commented on #398
Below is a 2 part series of my suggestion.

Part 1, <- Describes what Chronos is.

Part 2, <- Real live use case for a distributed scheduler.

Part 1.

Proposal for Chronos - A distributed Scheduler that runs on Mesos.

Chronos supports custom mesos executors, provides a default sh-shell command executor, can schedule Hadoop and various other jobs types.  However, chronos does not require a Hadoop

[2015-05-26 07:02] vineethvarghese commented on #385
@SajeevAr can you please paste the logs for `When this issue occurred, even if LoadInfo returned EmptyLoad, the job tracker logs indicated correct values for cascading.flow.StepCounters - Tuples_Read, Tuples_Written and also for tuples_filtered.` if you have them.

[2015-05-27 07:09] shmookey opened #400 "Sqoop export from TypedPipe generating null output."
The automatically-generated Thrift struct encoders seem to be producing null values.

[2015-05-28 00:53] laurencer commented on #398
Queue lengthy response below (apologies).

Some comments/questions about @quintona 's suggestion:

- RPMs are a pretty terrible fit for our use-case (although they are mature, stable and well-supported). Specifically, the inability to rollback on post-scriptlet failures and lack of tooling to clean up immutablely versioned RPMs (i.e. where the version is in the package name) is tedious. To this ex

[2015-05-28 00:59] stephanh commented on #398
I assume this design proposal is to address a number of concerns that are implicit to the proposal. Can we explicitly highlight the actual problems we need to solve, how big an impact they have and how urgent they are.

Also what are things that need to be decided right now versus things that we can decide later?

[2015-05-28 03:51] SajeevAr commented on #385
@vineethvarghese I don't have the complete job tracker log with me now. But I have the following screenshots indicating the counter values for this job. If I encounter this issue again, I shall take the complete log.

![image](https://cloud.githubusercontent.com/assets/10343887/7852373/e53729b6-053f-11e5-9bc9-4632f0f87932.png)

![image](https://cloud.githubusercontent.com/assets/10343887/7852378/f

[2015-05-28 05:13] #400 closed

[2015-05-28 05:29] stephanh commented on #398
@quintona can we organise a meeting to discuss this in person.

[2015-05-28 08:22] vineethvarghese commented on #385
Thanks. I was more interested to see all the logs rather than actual counts
to decide on the timeout. We have a fix that increases the timeout to get
the counter.  Hopefully this will address your issue.
On 28/05/2015 1:51 PM, "SajeevAr" <notifications@github.com> wrote:

[2015-05-28 08:36] stephanh commented on #385
We believe this problem is caused by the job tracker being to slow to respond to the request from the job to get the counter. We have raised an incident `IM1117666` to get this looked into and in the mean time we are going to increase the counter time out in the latest version of Maestro (see #402).

[2015-05-28 12:07] quintona commented on #398
To address the various questions:
* Interface contracts: I don't think we can define up front what will be in an interface contract, only how it is represented and enforced. Unfortunately there is no notion of an IDL in JSON and no great way of enforcing. We may want to make a call to depart from the group wide standard in this case, otherwise your interfaces remain opaque and all you have is visi

[2015-05-28 14:09] vineethvarghese commented on #385
We interact with the hadoop platform via scalding and cascading. After a Maestro load or view, a count is returned by writing the file to a temporary location and then getting the hadoop job counters to find the number of records written. This seemingly one liner breaks down to a cascading flow and a flow step which in turn maps to MR job on the cluster. On completion of the job, we attempt to get

[2015-05-28 21:29] vineethvarghese commented on #385
This is fix is on master now, so closing this. Please try out the latest version of maestro and reopen this issue if you still see the problem.

[2015-05-29 00:11] kfish opened #403 "Use permafrost files(recursive=true) in writeExecution instead of find()"
In maestro-core/src/main/scala/au/com/cba/omnia/maestro/core/hive/HiveTable.scala there is an internal function called find. That code has been merged into permafrost as a recursive flag to the files method, and the permafrost version should be used instead.

This change depends on the scala 2.11 changes (permafrost is already on 2.11)

[2015-06-01 01:55] #170 closed

[2015-06-01 01:55] #300 closed

[2015-06-01 02:47] #403 closed

[2015-06-02 08:21] stephanh opened #405 "Need to do header and trailer validation on HDFS"
When we switch to the upload service the files will be on HDFS so we will need to do the header and trailer validation from HDFS files.

[2015-06-02 23:15] vineethvarghese commented on #156
This should be done now.

[2015-06-10 06:17] aswinrkrishnan opened #409 "Automap transform to convert one thrift to another with no data change."
When transforming one thrift to another with one field less than the input thrift error is being shown that

[code]

[code]

it works if atleast one field is specified

[2015-06-15 04:52] stephanh commented on #405
Added code to permafrost that enables reading the first and last line from a HDFS file. https://github.com/CommBank/permafrost/pull/13

[2015-06-15 04:55] stephanh commented on #409
@aswinrkrishnan can you please provide a test that can reproduce this.

We have tests for automap macros with no manual rules and they work https://github.com/CommBank/maestro/blob/master/maestro-macros/src/test/scala/au/com/cba/omnia/maestro/macros/AutomapSpec.scala#L70.

[2015-06-15 04:56] stephanh commented on #379
@maxmithun @rowandavies this issue has been inactive for a while. Can it be closed?

[2015-06-16 01:01] maxmithun commented on #379
@stephanh  closing the  issue, since it got resolved by removing the hive UDF creation method called multiple times used for generating hashkey

[2015-06-16 01:01] #379 closed

[2015-06-16 04:28] #405 closed

[2015-06-17 07:35] stephanh opened #411 "Does the Tag macro really need to be a macro?"
The implementation of the tag macro is just:
[code]

That doesn't look to me like it needs to be macro code.

[2015-06-18 05:13] kfish opened #412 "Add "shadow API" calls that do logging etc."
Add API calls that encapsulate the pattern of doing eg:

[code]

ie. passing in a Controller and DBConfig and doing logging with particular text for each function.

The functions to wrap are:

 - [ ] upload
 - [ ] load
 - [ ] viewHive
 - [ ] sqoopImport
 - [ ] sqoopExport

[2015-06-18 05:35] afcowie opened #413 "Improve naming of JobStatus constants"
_per discussion in the hackfest 18 Jun 2015_

The names of the job statuses in the `JobStatus` type seem to be misleading people (people writing loads don't quite realize the implications of returning various statuses).

Without wanting to paint the bikeshed, here are some suggested names:

    JobCompleted
    JobToBeRetried
    JobUnableToRun

or

    Complete
    Retry n
    Abort

(where _n_ i

[2015-06-23 05:40] gavinwhyte opened #416 "Add driven plugin"
Please add the relevant code to allow maestro to communicate with the Driven Server.

Sample code for Driven Plugin
https://gist.github.com/gavinwhyte/a28cbd3e1f3567bab1a6

https://gist.github.com/gavinwhyte/8fe13ab450410d474494

Installation guide for plugin.

http://docs.cascading.io/driven/1.0/getting-started/

[2015-06-23 06:12] quintona commented on #416
I am not sure this would go into maestro. Would it not go into etl. et al?

[2015-06-23 06:17] gavinwhyte commented on #416
Good point, I will discuss with Vineeth, as per conversation with Stephan, he preferred it if I posted the sample code and config as a maestro github issue.

[2015-06-23 06:22] rowandavies commented on #416
I agree, probably it will go into the individual `etl` jobs, perhaps via some tiny method/function in `util.etl`.

[2015-06-23 06:23] #391 closed

[2015-06-23 09:03] vineethvarghese commented on #416
We don't have a nice way to raise an issue against an etl projects.
On 23/06/2015 4:22 PM, "rowandavies" <notifications@github.com> wrote:

[2015-06-23 09:06] vineethvarghese commented on #416
I forgot that util.etl is on github now, so this could go there.
On 23/06/2015 7:02 PM, "Vineeth Varghese" <vineeth.varghese@gmail.com>
wrote:

[2015-06-24 00:04] SamRoberts opened #418 "Split Execution "helpers" into separate project"
In the realtime team we would like to make use of all the helper functionality you have in maestro for using executions, but we don't have any use for the maestro job or task apis. It would be nice if we could split the RichExecution functionality into a separate project, so we could depend on it without bringing in all of maestro.

We would be happy to do the initial work, but it would still requ

[2015-06-24 10:57] rowandavies commented on #374
@triggerNZ Is there a pull request for your changes?

[2015-06-24 22:51] triggerNZ commented on #374
Yes, https://github.com/CommBank/maestro/pull/396. It was accepted and merged, but this issue wasn't closed.

[2015-06-24 23:29] vineethvarghese commented on #374
@triggerNZ Thanks for cleaning this up. It might be better if we mention the PR while closing i.e. if it is not already mentioned in the issue.

[2015-06-24 23:40] triggerNZ commented on #374
Fixed by PR #396

[2015-06-24 23:40] #374 closed

[2015-06-25 02:43] rowandavies opened #419 "Scaladoc links to scala source files are broken."

[2015-06-25 03:35] SamRoberts commented on #418
The automapper macro would be pretty helpful too, come to think of it

[2015-06-25 04:05] SamRoberts commented on #418
... aaand HiveTable ...

(if this keeps going we might as well just depend on maestro!)

[2015-06-25 04:10] SamRoberts commented on #418
Although if you were to split out the execution helpers, than Partition and HiveTable might belong in ebenezer, and ebenezer could depend on just the execution helper lib?

[2015-06-26 01:32] vineethvarghese commented on #418
How urgent is this and do you have a complete picture on what you want?

[2015-06-26 01:40] SamRoberts commented on #418
Not urgent, and I'm not presenting a hard set of requirements, just hoping to set off a discussion.

[2015-06-26 01:42] SamRoberts commented on #418
Currently I have copied a simplified and limited version of `bracket` (hardcoded to our specific use-case) and `fromHdfs` into our code, and I am about to write some map function from one thrift struct to another that would be a perfect use case for the automap macro.

[2015-06-29 00:54] anandsiva opened #420 "Partitioning strategy for Hive tables"
At the moment the hive tables are partitioned on Year,month and date columns where as end users use extract timestamp column to extract data. Some of them use between clause. We need right stratergy so that the users can access data effectively.

[2015-06-29 02:05] rowandavies commented on #420
@anandsiva Maestro already supports arbitrary partitioning.  This might be better reported as an issue for datahub - is there something specific Maestro could better support that would help with this issue?

Regardless, changing the partitioning will have major performance consequences.  If we increase the number of partitions it quite likely will also lead to more out of memory errors, similar to

[2015-06-29 21:50] jamindaw commented on #335
Capture comments against columns in the Thrift structure and expose them in the Hive DDL.
Requirement raised again by @ondrejivanic in response to adoption issues.
Definition of done for loads should include these comments in the Thrift structure.

[2015-06-29 21:55] jagatsingh commented on #335
The scala case clases now don't have any limitation of number of fields.

I have been experimenting the use of case classes to do lots of things
including above what has been mentioned as new requirement.

The additional advantage of case classes it is natural scala code and you
can do any sort of validation as per business , all data types for the
programming language or anything can be defined i

[2015-06-29 23:27] jonjuscorpion666 commented on #335
@jagatsingh , In Scala 2.11,  22 fields limit for case classes seems to be fixed

[2015-06-29 23:44] omnia-bamboo commented on #335
But is the 254 jvm limit "fixed"?

Sent from my iPhone

On 30 Jun 2015, at 9:27 am, John Thomas <notifications@github.com<mailto:notifications@github.com>> wrote:

@jagatsingh<https://github.com/jagatsingh> , In Scala 2.11, 22 fields limit for case classes seems to be fixed

—
Reply to this email directly or view it on GitHub<https://github.com/CommBank/maestro/issues/335#issuecomment-116878412>.

[2015-07-03 02:11] jameshales opened #422 "NoSuchElementException when running TransformExecution example"
I spoke to Luke Williams about this issue, and he said it might be a bug in Maestro. It's also possible there's something wrong with the environment I'm running in.

I'm trying to run some of the Maestro examples in a Cloudera VM. I've had success running `CustomerJob`, I've also had success wrapping `CustomerExecution` and `CustomerSqoopImportExecution` up as a `MaestroJob` and running them. Howe

[2015-07-03 05:51] jameshales commented on #422
I didn't realise that `TransformExecution` expects the data to already be loaded into HDFS (and that it had to be in HDFS, not Hive). The test works with the following modified script, which manually loads the required data into HDFS.

[code]

[2015-07-03 05:51] #422 closed

[2015-07-03 07:03] rowandavies commented on #422
@jameshales Right.  Local testing worked I guess because it imitates HDFS via the local file system.

Those scripts haven't been updated in since March 2014, back when Maestro was first written.  We tend to use local testing instead, but it could be good to have a working version of `test-cluster` - want to create a pull request?

[2015-07-08 08:52] maxmithun commented on #385
Currently we are experiencing the issue of getting timeout getting counters with updated `util.etl version 1.12.1-20150528110707-248b50b` also.

[code]

[2015-07-08 09:27] rakheshrnair commented on #385
@maxmithun I am also getting the same exception and believe its the environment issue. Sometimes after rerunning, the jobs are getting succeeded. Also the parameter set to 60 is available from `1.13.0-20150604153322-aff39de` of etl-util

[2015-07-08 09:43] vineethvarghese commented on #385
The fix to increase the wait time is in maestro. Are you guys saying that
this fix is not really increasing the timeout? Or is that you haven't
upgraded to the latest maestro version? Would be great if    you guys  can
update this issue with that information too.

Unfortunately the platform team hasn't got back with any information as to
why this happens on our cluster.
On 08/07/2015 7:27 PM, "Rak

[2015-07-08 12:38] vineethvarghese commented on #385
@maxmithun You don't have the version of maestro that has this fix. I just verified that etl-util 0.13.0.*** comes with the fix.

[2015-07-09 00:38] patelh commented on #348
@anukrishnank disable map join optimization:

            hiveConf.set("hive.auto.convert.join","false");
            hiveConf.set("hive.auto.convert.join.noconditionaltask","false");

[2015-07-09 00:48] anandsiva opened #425 "Support for multiple character set"
Requirement to support UTF character set  so that source can send and load those datasets

[2015-07-13 02:15] maxmithun commented on #385
@vineethvarghese  I am closing the issue, since with the new version `1.14.1-20150703071108-fb2a434` we couldnt replicate it.

[2015-07-13 02:15] #385 closed

[2015-07-13 02:56] vineethvarghese commented on #385
Thank you

[2015-07-13 04:29] stephanh commented on #418
@SamRoberts why don't you want to depend on Maestro?

[2015-07-13 04:37] SamRoberts commented on #418
@stephanh no practical reason, really. It's just that the "core purpose" for the maestro library to exist (the standard load patterns used in datahub) are not relevant to us. The functionality I want makes executions, hive, thrift, etc, easier to use in general. It isn't maestro specific in any way IMO.

That said, I'm not dogmatic about it.

[2015-07-13 05:56] stephanh commented on #418
@SamRoberts we have set up our projects subprojects more around external dependencies to avoid pulling in dependencies you don't need such as Scalding, Parquet, etc so far. I think in the short term you should just depend on Maestro.

`RichExecution` needs to depend on `Hive` from ebenezer, `Hdfs` from permafrost and, obviously, Scalding so it pretty much pulls in all possible dependencies anyway

[2015-07-13 12:42] SamRoberts commented on #418
@stephanh no worries, we can do that. I'll close this.

[2015-07-13 12:42] #418 closed

[2015-07-13 22:14] jagatsingh commented on #335
JVM issue is not resolved. I do not think it will be ever. So we cannot go
with simple case classes for tables over this limit.

See the approach taken by Spark people.

Each DataFrame is represented by Schema in form of Struct Type and it also
has Metadata.

https://spark.apache.org/docs/latest/api/scala/org/apache/spark/sql/types/StructType.html

https://spark.apache.org/docs/latest/api/scala/in

[2015-07-14 03:19] rowandavies commented on #335
@jagatsingh The Spark approach has the downside of making the types of fields all be `StructField`, so type checking doesn't catch errors where the types of fields are inconsistent and there need to be runtime checks instead.

[2015-07-15 02:48] SajeevAr opened #426 "ViewExecution.viewHive fails to overwrite partitions"
The following issues were faced while overwriting partitions using viewHive (with append mode as false). eg. viewHive(conf.transformationTable, pipe, false). These issues are related to the fix for CommBank/maestro#382. etl-util version used is 1.14.0-20150625002151-e89a7bc.

1. If the table location doesn't exist, viewHive will fail with a ResultException as shown below. This occurs as Line:101 i

[2015-07-15 02:53] SajeevAr commented on #426
The following exception occurs if the table location doesn't exist.
[code]

[2015-07-15 03:00] SajeevAr commented on #426
The following error occurs while running MSCK REPAIR TABLE query.

[code]

[2015-07-15 04:01] stephanh commented on #426
Are you sure a repair table is not needed? The files that make up a partition have changed.

With regards to 4, if no data is written how do we know which partition has changed? This is to overwrite specific partitions in an existing table not the whole table. If you don't write any data how do we know which partition to overwrite?

If you want to get rid of all the previous data you should delete

[2015-07-15 04:56] jithinjohn commented on #426
@SajeevAr I also got error mentioned in case 1, when a table already existed and corresponding HDFS location was not there. But I am able to create a new table and load data in overwrite mode successfully. Could you please confirm  whether you tried to  create a new hive table

[2015-07-15 07:32] stephanh commented on #426
@SajeevAr do you know why the underlying directory has been deleted?

[2015-07-15 07:33] SajeevAr commented on #426
@stephanh In my understanding, MSCK REPAIR TABLE will add metadata about partitions to Hive metastore, for partitions for which such metadata doesn't already exist. So if new partitions are not added and only if the files within the partitions have changed, I think MSCK REPAIR TABLE is not needed while using Hive. I was referring to 'Recover Partitions (MSCK REPAIR TABLE)' section in https://cwiki

[2015-07-15 07:34] SajeevAr commented on #426
@jithinjohn Yes, this issue happens only while loading data into a table in overwrite mode, whose external location does not exist.

@stephanh As part of testing, the HDFS directories may be cleared without dropping the table and may reload the table with new data. The issue was noted because the same scenario was working fine in the previous implementation.

[2015-07-15 07:34] stephanh commented on #426
No we can't handle 4. Without information how do we know which partitions you want to override?

[2015-07-16 02:23] #426 closed

[2015-07-16 03:06] stephanh commented on #426
@SajeevAr I think I fixed the bugs. I ended up removing `MSCK REPAIR TABLE` if the hive documentation is correct then you are right and we don't need it. Can you please the latest version and let me know if it fixes your problems.

[2015-07-16 04:30] SajeevAr commented on #426
Thanks @stephanh . I shall test with the latest maestro version and shall provide an update.

[2015-07-16 06:12] sabarinathks opened #428 "Automap throwing error with single field transformation"
Automap is throwing "Could not resolve FieldName" error with single field transformation:

1) When used for mapping a single field from source thrift to destination thrift. Destination thrift is same  as source thrift except an additional field at the end.

 @automap  def fooTransform(f: foobar): foobarTransformed = {
    foo := f.foobar
  }  where foo is the last field in destination thrift and f

[2015-07-16 07:14] stephanh commented on #428
This seems to actually be caused by the Automap macro not handling correctly any transformations with just one rule.

[2015-07-20 01:56] SajeevAr commented on #426
@stephanh Published util.etl in local with the maestro version 2.12.1-20150716022418-87386a0 and tested. The issues mentioned in case 1, 2 and 3 are fixed in this version.

[2015-07-20 02:00] stephanh commented on #426
Thank you @SajeevAr! And thank you for raising such a detailed bug report!

[2015-07-20 04:15] #428 closed

[2015-07-20 04:36] stephanh commented on #397
Fixed by #415.

[2015-07-20 04:36] #397 closed

[2015-07-20 04:52] stephanh commented on #409
Closing this due to lack of activity. @aswinrkrishnan if this is still an issue please reopen.

[2015-07-20 04:52] #409 closed

[2015-07-20 04:53] stephanh commented on #420
As Rowan said Maestro already supports arbitrary partitioning. If we need to discuss the current approach to partitioning of loads in Datahub we should raise it as a Datahub issue.

[2015-07-20 04:53] #420 closed

[2015-07-20 04:54] stephanh commented on #416
Raised on etl-util as https://github.com/CommBank/util.etl/issues/15

[2015-07-20 04:54] #416 closed

[2015-07-20 05:02] stephanh commented on #386
@toddmowen do you still have that patch?

[2015-07-20 06:46] #386 closed

[2015-07-21 01:02] shmookey commented on #377
I've had reports of this working now. A separate but related issue is that users calling sqoopExport with a type variable must add the Encode typeclass to the caller - it is not sufficient for sqoopExport to do this itself. Unfortunately, the consequences for failing to do so are not visible until runtime.

[2015-07-21 01:47] sujeshchirackkal opened #430 "Permission issue with viewHive"
Throws permission issues intermittently while trying to write into multiple partitions using viewHive API.

This issue was reported during CDH 5 Upgrade. Observation was that cascading-hive was overriding the hive.metastore.execute.setugi and hence the jobs are trying to write into partitions as 'hive' user rather than the user who actually runs the job. Had tried setting the hive conf path explic

[2015-07-21 01:49] stephanh commented on #430
I thought this was resolved as part of the CDH5 upgrade? What changed so that is now an issue again?

[2015-07-21 01:49] sujeshchirackkal opened #431 "Out of memory on reducers while using view API"
If there are too many dynamic partitions involved in the output while using view API, it throws Java out of memory on reducer tasks.

But this works with Hive queries.

[2015-07-21 06:44] rowandavies commented on #431
@sujeshchirackkal Searching for similar issues, and talking with John, this seems related to:

* https://issues.apache.org/jira/browse/PARQUET-108 and https://issues.apache.org/jira/browse/HIVE-7685 which work together to fix out of memory issues when using Hive to write Parquet by dynamically reducing the size of the row-group buffers when many parquet files are being written to at once and the t

[2015-07-21 07:21] rowandavies commented on #431
@jonjuscorpion666 Looks like we can set `parquet.block.size` via `parquet.hadoop.mapred.DeprecatedParquetOutputFormat.setBlockSize`. See:

https://github.com/Parquet/parquet-mr/blob/master/parquet-hadoop/src/main/java/parquet/hadoop/mapred/DeprecatedParquetOutputFormat.java

To do this, we might need a modified version of Ebenezer.  It does seem worthwhile experimenting with this to see whether th

[2015-07-22 00:09] jonjuscorpion666 commented on #431
just to update , we tried to change parquet.block.size via  hive-site.xml in resource folder . But this is getting overwritten /not reflecting in job. Still taking default block size of 128mb

[2015-07-22 00:19] stephanh commented on #431
Why are you changing it in the hive-site.xml and not the mapred-site.xml? The hive-site.xml isn't used for MR jobs.

[2015-07-22 01:04] rowandavies commented on #431
@stephanh I guess I passed your suggestion on to John incorrectly, due to lack of experience with `mapred-site.xml'.  Yes, this seems more likely to work.

[2015-07-22 03:07] rowandavies commented on #431
@jonjuscorpion666 Running your test code with `mapred-site.xml` in the `resources` directory containing the following seems to affect parquet, based on the log messages.  So far, I don't have a situation where this has resolved an out of memory error though - but for me the tests on your branch succeed with a heap of 1.5GB anyway, and only fail with about half that.

[code]

[2015-07-22 09:13] SajeevAr commented on #382
When there is difference in the number of parquet files generated in the partition after overwrite, there can be some issues as described in the following scenarios. Now the new files will overwrite the previous files if it has the same file name. The current fix works fine only if the parquet files are created with unique file names inside a partition.

Case 1:
The partition initially contains tw

[2015-07-22 23:04] sujeshchirackkal commented on #430
The fix by adding hive conf in the classpath was tested in cdh5.2.4. We had
one more last minute upgrade, due to other issues, and I assume we did not
test this case specifically after that. But this occurred for a few
projects where there are multiple partitions being written in a single run.

On Tuesday, 21 July 2015, Stephan Hoermann <notifications@github.com> wrote:

--
Regards,
Sujesh

[2015-07-23 10:26] anandsiva opened #433 "Ability to supported nested file structure"
Maestro to support nested file structures like
1. Nested Thrift
2. XML
3. JSON

[2015-07-23 23:08] ranjanin08 commented on #348
@greyamigo  gave it a try on one of the branches that we were using to reproduce the problem and it seems to do the trick. I will close this issue after we test on the cluster (for a normal run) and are comfortable with the results.

[2015-07-24 00:14] stephanh commented on #348
Thank you @patelh very helpful!

[2015-07-24 02:54] jonjuscorpion666 commented on #431
@rowandavies . Here is the summary of tests done . WIP Branch is available in stash

Created 2 unit test case with 2 files
-> Working with 270 mb of data
-> Not Working with 268 mb of data

sbt Parameters used
-Dsbt.override.build.repos=true
-Dsbt.repository.config= "****"/repositories
-Dfile.encoding=UTF8 -XX:MaxPermSize=256m -Xms512m -Xmx1536m -XX:+CMSClassUnloadingEnabled -XX:+UseConcMarkSweepG

[2015-07-24 04:01] #382 closed

[2015-07-24 04:26] anukrishnank commented on #348
@patelh tried the parameters in the code and it seems to do the trick.  Thank you

[2015-07-24 07:16] #348 closed

[2015-07-24 07:17] stephanh commented on #348
I updated the test hive-site.xml in Thermometer to set these settings so this should now be fixed for the latest version of maestro.

[2015-07-27 02:45] jonjuscorpion666 commented on #431
Got below comments from different blogs regarding parquet heap size issue .
" 1 Gig is pretty small for a MR task; parquet gets much of its efficiency because it buffers a bunch of data in memory, organizes it to be stored more efficiently, and then flushes -- so some non-negligible amount of RAM is expected to be used by the writers. "  The memory consumption can be larger when inserting data int

[2015-07-27 05:13] JosephShobin opened #434 "Support environment variable in Test"
We are passing so many variables(like passwords) from environment to execution.
Right now there is no direct/simple approach to set environment variable from test.

[2015-07-27 23:06] stephanh commented on #434
The only environment that should be passed are passwords. Alternatively, you can also read them from a file.

Unfortunately, the JAVA api does not support setting environment variables and it is quite a hack to do so  we won't be supporting that.

[2015-07-27 23:06] #434 closed

[2015-07-27 23:10] stephanh commented on #431
@jonjuscorpion666 you will have to raise that with the platform team.

[2015-07-27 23:23] stephanh commented on #430
@AnnTomie I believe your squad encountered this a while ago and you were going to do some investigating?

[2015-07-28 00:59] AnnTomie commented on #430
Had faced this issue while writing data into multiple partitions. But the code is remediated with controller now. In relation with this issue we found below:

https://cwiki.apache.org/confluence/display/Hive/Permission+Inheritance+in+Hive
https://issues.apache.org/jira/browse/HIVE-6648
https://issues.apache.org/jira/browse/HIVE-6892
https://issues.cloudera.org/browse/KITE-596
https://issues.cloude

[2015-07-28 01:09] stephanh commented on #430
@AnnTomie are you saying this is a known issue with Hive that is fixed in later versions of Hive? What behaviour on our side triggers this bug?

[2015-07-28 01:50] AnnTomie commented on #430
Yes it seems the issue has affected hive version .13.0 which we are currently using.
We write data into multiple partition in the  scenario of multiple file load.

[2015-07-28 04:58] #344 closed

[2015-07-28 06:54] stephanh commented on #247
Upsilon when it is released will supersede this requirement.

[2015-07-28 06:54] #247 closed

[2015-08-11 07:51] stephanh commented on #377
This has actually been fixed as part of 1cb61aa and 75c9521. If you still have that problem in Maestro version after 17/7 please reopen this issue or create a new one.

There is a problem for macros where they don't respect the type annotations (i.e. that something needs to be a ThriftStruct). We did some refactoring and as part of that introduced checks to prevent that from happening.

[2015-08-11 07:51] #377 closed

[2015-08-14 05:07] rowandavies commented on #430
@AnnTomie Does it seem reasonable to use the workaround Suresh suggested until we upgrade to CDH5.4+ which includes the fixes you mentioned?  Is this affecting more than a few projects?

[2015-08-17 02:02] stephanh commented on #392
This has been fixed as part of #435.

[2015-08-17 02:02] #392 closed

[2015-08-17 04:33] anandsiva opened #436 "Ability to escape delimiters and new line within data"
Extracts should be able to provide a way for escaping delimiters so that the delimiter itself becomes part of the data and is retained as is. In terms of line Feed if linefeed is a part of the data the maestro should be able to treat it as part of data. Both the delimiter and line feed should also be passed as part of the data on to Teradata

[2015-08-17 04:36] anandsiva commented on #436
This is applicable both for file based ingestion and databased pull. In case of file based extract we need to provide the source on the escape char.
When the data is pulled the escaping should be part of the extract query itself.

[2015-08-17 04:44] stephanh commented on #436
What particular file format standard do we need to support? Is https://tools.ietf.org/html/rfc4180 enough?

[2015-08-17 04:48] anandsiva commented on #436
We define the the format and standards. The requirement was more around handling the both delimiter and line feed so that we load them on to the hive table and also to be able to pass them as is on to teradata.

[2015-08-17 05:35] anandsiva opened #437 "Ability for end users to load data on to prod and treat the data as a source of truth for others to consume"
- [ ] End user should be able to upload the data via portal
- [ ]  data is validated against the underlying structure.
- [ ] Ability for the the end user to add or modify the structure of the table
- [ ] Only authorised users are allowed to make changes.
- [ ] Users should be able to upload data only to the tables were they were assigned access to load
- [ ] Audit log of all the changes to be capt

[2015-08-17 06:33] stephanh commented on #436
I will have to investigate if Sqoop allows you to escape the end of line character.

[2015-08-17 06:37] stephanh commented on #436
*Hive shouldn't be a problem since the data will be stored in Parquet so delimiters won't matter.
* For file ingest we will have to write a custom file input format, maybe on top of https://github.com/tresata/cascading-opencsv/blob/master/src/main/java/com/tresata/cascading/opencsv/OpenCsvScheme.java
* Not sure what we need to do for text export. We might need a custom output file output format to

[2015-08-17 06:54] anandsiva commented on #436
The immediate requirement is to solve it for sqoop import and sqoop export to Teradata.

[2015-08-17 07:35] SamRoberts commented on #436
What part of this does the existing opencsv based splitter not already support? Escaping delimters is not problem, iirc. Not sure about escaping newlines, but I would expect opencsv to handle that if you were able to hand the splitter a line that contained a LF.

[2015-08-17 23:33] stephanh commented on #436
@SamRoberts do you mean the splitter in Maestro or the OpenCsvScheme I linked to?

The Maestro splitter can't handle newline characters because the standard FileInputFormat splits lines based on the newline character so it would break up lines where the delimter is escaped.

[2015-08-17 23:35] stephanh commented on #436
@anandsiva we would have to run tests against sqoop to see what it actually supports.

[2015-08-18 00:05] SamRoberts commented on #436
@stephanh Yes, but the newline character is the only outstanding requirement here, iirc. But reviewing your comments, you knew that already ... so ... yeah, that's my useful contribution. :)

[2015-08-18 07:02] stephanh commented on #436
@SamRoberts it also happens to be the most involved requirement :smile:.

@anandsiva if I understand you correctly than we only have to address this issue for DB import and exports. File based loads can remain as they are? Is that correct?

[2015-08-18 23:32] anandsiva commented on #436
The current requirement is the use-case you mentioned. All file would would stick to the existing standards unless they have a pressing need to handle delimited within the data. The solution and approach we are taking should solve this for both file import and DB import and sqoop export as well.

[2015-08-18 23:34] AnnTomie commented on #430
@rowandavies : Yes currently we are using workarounds to get over it. Writing into multiple partition occurs in mainly in catch-up loads

[2015-08-19 01:22] stephanh commented on #436
For DB imports we are considering adding the ability to import/export to/form Parquet. This will solve any delimiter problems. However, this does not solve the problem for files. That would be a different solution.

[2015-08-19 01:25] stephanh commented on #436
I estimate that doing the importing/exporting to/from parquet and integrating that into Maestro will be about 2 sprints for an initial solution.

[2015-08-19 04:04] maxmithun opened #438 "Feature - Various modes of overwrite partitioned Hive table"
`viewHive` requires additional mode for overwriting the whole table which is parititioned.

modes required for `viewHive` is listed below.

* `APPEND_MODE` - append new data to existing partitions in hive table
* `OVERWRITE_PARTITION_MODE` - overwrite the effected partitions by deleting the existing files in those partition and rewrite the partition with new data
* `OVERWRITE_TABLE_MODE` - delete

[2015-08-20 01:58] anandsiva commented on #436
Similarly do you have a proposed solution for file based imports as well. This solution will not be a norm as it will have Performance implications and would be used on loads which ever allows free text in the source.

[2015-08-20 02:01] stephanh commented on #436
For file based loads we will need to use the OpenCSVScheme or reimplement our own. This will probably take 2 sprints as well.

[2015-08-27 01:03] jonjuscorpion666 commented on #430
Raised ticket with cloudera :Case#: 71496

[2015-08-28 03:53] anandsiva opened #439 "DQ metrics gathering as a post maestro job"

[2015-09-03 00:38] anandsiva commented on #437
Rationale:-
For user data to be treated as production data we need to have:-
- an automated process which the production support team can support.
- audit traceability of who and when some one had loaded the data.
- prevent unauthorised users making changes to the data
- data is validated for correctness ( Through code rather than manual verification ).
- appropriate security restrictions in place

[2015-09-08 06:47] #156 closed

[2015-09-08 23:16] stephanh commented on #437
@anandsiva can you raise this issue here https://github.com/CommBank/maestro-team. This is a larger issues that won't be directly provided by the Maestro library but is instead work that needs to be done by the team. We will probably stand up a separate service and repo for this.

[2015-09-08 23:33] anandsiva commented on #437
Yes. Created a new ticket. https://github.com/CommBank/maestro-team/issues/11

[2015-09-09 04:31] rowandavies commented on #430
@AnnTomie Cloudera would like to reproduce this issue, and we'd like to know exactly where we stand.  What code do we have that causes it (when we remove workarounds)?

[2015-09-09 05:59] #437 closed

[2015-09-11 01:14] AnnTomie commented on #430
@rowandavies : Sure will work on this, and provide sample code to reproduce the issue.

[2015-09-16 02:13] maxmithun opened #440 "Automap not identifying the method inside the same object - Compilation Error"
Experiencing compilation error while using functions inside automap when the etl.util version is updated to `1.19.1-20150911071038-21493ff`

Error Scenario :
* Automap `@automap def transform` is defined in an execution object `AutomapExecution`
* A function `def  createKey` defined in the execution object  `AutomapExecution`.
* Automap `transform` is using the function `createKey` during its tran

[2015-09-16 23:43] maxmithun commented on #440
Please find the bug reproduced in maestro-examples [here](https://github.com/CommBank/maestro/blob/AutoMapBug/maestro-example/src/main/scala/au/com/cba/omnia/maestro/example/CustomerAutomapJob.scala)

[2015-09-18 05:57] stephanh commented on #439
We want to gather the following stats for each feature:
* Row count
* Count of non null values for optional values
* Number of distinct values using HyperLogLog
* Limited size histogram

For numerical features we also want to collect:
* Min
* Max
* Mean
* StdDev

We need to ensure that we can manage the amount of memory required for collecting all these stats is reasonable.

[2015-09-18 06:00] stephanh opened #441 "Write data quality stats to Hive"
We need to write the data quality stats we collect to Hive as the first step.

For the limited size histogram we should probably store that as a map, which means adding map support to our parquet library (assuming that our version of Hive can read it).

[2015-10-01 09:56] stephanh opened #443 "Links to source code from scaladoc are broken"
We seem to be breaking the link to source code from scaladoc https://github.com/CommBank/maestro/tree/Dirty(bc9f5fa5e0d8ef87f1a2bc138859f1c9a46888de)//maestro-scalding/src/main/scala/au/com/cba/omnia/maestro/task/LoadExecution.scala

[2015-10-01 09:58] vineethvarghese commented on #443
I believe Rowan had already filed an issue about this.

-V
On 01/10/2015 7:56 PM, "Stephan Hoermann" <notifications@github.com> wrote:

[2015-10-06 00:07] stephanh commented on #443
You are right. I did a search on my phone and couldn't find anything. However, it turns out this is a duplicate of #419.

[2015-10-06 00:07] #443 closed

[2015-10-06 03:51] anandsiva opened #444 "Partitioning strategy for Hive tables"
At the moment the hive tables are partitioned on Year,month and date columns where as end users use extract timestamp column to extract data. Some of them use between clause. We need right strategy so that the users can access data effectively.

[2015-10-06 03:53] anandsiva commented on #444
Moving this to Datahub https://github.com/CommBank/datahub/issues/126

[2015-10-06 03:53] #444 closed

[2015-10-06 03:54] anandsiva commented on #420
Tracking this in  https://github.com/CommBank/datahub/issues/126

[2015-10-08 00:59] #419 closed

[2015-10-20 07:27] #440 closed

[2015-11-04 04:46] vineethvarghese opened #451 "Cleanup files in /tmp"
As part of good housekeeping, we should cleanup the temporary files we create.

[2015-11-23 02:14] shmookey commented on #430
We have observed two main behaviours contributing to this bug:
1. The submitter (via cascading-hive) informs the metastore a new partition before it has been written.
2. The metastore does not impersonate the submitter in calls to `add_partition`.
A workaround for (1) has been merged into ebenezer (https://github.com/CommBank/ebenezer/pull/130) and needs to be tested for a range of maestro jobs be

[2015-11-24 08:54] vineethvarghese commented on #430
This is fixed in https://github.com/CommBank/maestro/pull/457

[2015-11-24 08:54] #430 closed

[2015-11-24 08:58] vineethvarghese commented on #346
@afcowie Are you doing something on this?

[2015-11-24 22:13] afcowie commented on #346
@vineethvarghese Not at present. I made it as far as getting feedback from upstream, which was positive, but I couldn't get their test suite to run. That's probably down to the network connectivity problems I was having my first few weeks at CommBank, but I haven't been back to it since.

[2015-11-26 08:25] singha34 opened #459 "GC overhead limit exceeded Error in Viewhive"
Getting GC overhead limit exceeded Exception while doing testing for Hitdata load using new etl-util (New Hive implementation with Msck repair).The load job is failing while it is trying to do a MSCK REPAIR TABLE on hit_data.

Test Platform
The hit_data table contains 15Tb data which is hourly partition which is already registered in megastore by Hive API(Old maestro implementation).The data is pr

[2015-11-26 08:48] vineethvarghese commented on #459
Can you please update with details like number of partitions, default
memory used etc. John mentioned he was getting it in hive cli but your bug
suggests it is the latest version of maestro. Can  you also get the heap
dump ?

On Thursda, November 26, 2015, singha34 <notifications@github.com> wrote:

--
-V

[2015-11-26 09:02] vineethvarghese commented on #459
If my calculation are right 24 * 356* 3 partitions are already there and
you are adding one more.

On Thursday, November 26, 2015, Vineeth Varghese <vineeth.varghese@gmail.com>
wrote:

--
-V

[2015-11-26 09:27] jonjuscorpion666 commented on #459
@vineethvarghese , Issue I was mentioning you was different . I was trying to msck repair for 1 month partition (30*24) during  migration of parquet data from DS to Scoring where already (365*24) partition exists through hive CLI .

Here amar is facing this issue while processing 1 hour data on already existing data created by old view-hive implementation (ie written using hive partition ) (number

[2015-11-26 09:53] vineethvarghese commented on #459
Yeah so msck works like this :-

1) load all partition information for a table from the meta store

2) load all folders in the table location

3) find the difference in memory

4) try to add all new partitions in one bulk move

5) if the bulk update fails, add the partitions one by one

On Thursday, November 26, 2015, John Thomas <notifications@github.com>
wrote:

--
-V

[2015-11-26 22:57] vineethvarghese commented on #459
Are we breaking the limits of our tool :-)
http://mail-archives.apache.org/mod_mbox/hive-user/201303.mbox/%3CCAENxBwx49uE17kC6aL996S5GwnB6o0Cm4zh2DPU6WNRaHLhHXg@mail.gmail.com%3E

[2015-11-27 00:30] vineethvarghese commented on #459
https://issues.apache.org/jira/browse/HIVE-7223

[2015-11-27 05:39] disambiguist opened #460 "To be able egress data on to casandraTo be able egress data on to Cassandra"
http://www.bigsql.org/se/cassandra/cassandra_jdbc.jsp
https://code.google.com/a/apache-extras.org/p/cassandra-jdbc/

It supports JDBC. Do we need additional tooling if we are going to use Sqoop jdbc? Wouldn't this be same as our jdbc connector for other RDBS? @stephanh Can you comment on this?
(https://github.com/CommBank/datahub/issues/162)

[2015-11-29 22:33] stephanh commented on #460
That project is no longer under development or supported given that it hasn't been migrated from Google Code yet, which will be shutdown in 2 months.

There has been no active development since 2013.

[2015-11-29 22:47] anandsiva commented on #460
Other API to consider:
* https://github.com/websudos/phantom?ssl_
* https://github.com/Shimi/cascal?ssl_

Does that mean any JDBC is a no from maestro?

[2015-11-29 23:04] stephanh commented on #460
It means that this particular library is a no. Looking at other Cassandra jdbc projects on Github they don't seem to be actively supported.

[2015-12-01 02:56] ranjanin08 opened #461 "Incorrect setting for hive-stagingdir leading to failures in Hive based unit tests after upgrade to cdh5.3"
After upgrading to CDH5.3, the hive.exec.stagingdir property seems to be not set correctly which is leading to directories as .hive-staging* getting created and then the checkParquet call failing:

[code]

We are setting the property hive.exec.stagingdir in the code for the unit test mode to work around this, but would be good to have it set in the test hive configuration in Thermometer

[2015-12-01 03:33] rowandavies commented on #461
@ranjanin08 Can you point me at the exact code you're using to set this property?

[2015-12-01 23:10] stephanh commented on #461
@ranjanin08 we have been on CDH 5.3 for a while, why are we just seeing this now?

What does `hive.exec.stagingdir` do? How is it configured on the cluster?

[2015-12-01 23:43] rowandavies commented on #461
I suspect that this issue occurs only during local testing - is that right
@ranjanin08 <https://github.com/ranjanin08> ?  And you've recently upgraded
locally to CDH5.3.8 via the uniform upgrade (via etl-util or similar)?

The following suggests that there was a change/bug related to this in
CDH5.3.0 with a workaround involving hive.exec.stagingdir :

https://community.cloudera.com/t5/Batch-SQL-Ap

[2015-12-02 01:19] shmookey opened #462 "Large number of partitions causes viewHive to fail"
viewHive fails for tables containing very large numbers (tens of thousands) of partitions. Currently new partitions are registered by the metastore automatically by issuing the memory-intensive `MSCK REPAIR` command to Hive, which crashes when the partition count is too high, even for small differentials.

Workaround: register created partitions manually with the metastore in smaller batches.

[2015-12-03 03:44] ranjanin08 commented on #461
Apologies for the delay in getting back on this @rowandavies . Yes, I faced this issue on upgrade to CDH5.3.8 via etl-util. I am not sure why the fix in 5.3.2 didn't help. I will let you know if I find out.

An example of the fix is in HlsCommonFeaturesExecution in etl.features-hls under the security_update branch on stash.

[code]

[2015-12-03 22:12] ranjanin08 commented on #461
@rowandavies , from my quick look at things - I think there were two problems linked to the issue - HDFS permission issue and the incorrect staging dir default config leading to things writing to the .hive-staging* directories. The fix patch on https://issues.cloudera.org/browse/DISTRO-681 which is supposed to be fixed with https://issues.apache.org/jira/browse/HIVE-9265

https://issues.apache.org

[2015-12-03 22:56] sabarinathks commented on #459
Issue with HMS update is resolved and new partitions are reflecting in Hive table, but when Hit Data Job tries to run jobs in catch-up mode ie, running more than one hours of data sequentially results in GC Overhead Limit Exceeded Error. Please find the logs below,

[code]

[2015-12-04 03:47] MinuMichaelOlassayil opened #466 "Jobs failing due to parallel load into same partition"
Jobs failing due to parallel execution of viewHive for more than 1 files into same partition.
Job fails in local test as well as after being executed in cluster.
Project : etl.navpath-dbsa
etl-util: 1.27.0-20151203060845-a15fd45

Please find the log attached.
[dbsa_service_execution.log.zip](https://github.com/CommBank/maestro/files/51620/dbsa_service_execution.log.zip)

[2015-12-04 04:02] sintokitteera commented on #466
If we delete partition from hdfs and if we are not deleting partition from metastore, when we run the job we are getting the same issue.("AlreadyExistsException(message:Partition already exists: Partition....")
Project : etl.farlo-clm

[2015-12-04 04:06] rowandavies commented on #466
@sintokitteera Right, we'd expect that.  Is there a particular situation where you need to delete the directory while keeping the partition in the metastore?

[2015-12-04 05:00] vineethvarghese commented on #466
@sintokitteera what do you expect to happen when you delete hive partitions from hdfs without notifying hive? :)

[2015-12-06 22:20] vineethvarghese commented on #466
Did the new maestro version fix this? Please verify and close this issue if it is fixed. As a good practices, please don't leave Hive in an inconsistent state.

[2015-12-07 23:27] vineethvarghese commented on #466
@MinuMichaelOlassayil Can you please update this?

[2015-12-08 05:30] vineethvarghese opened #468 "HiveTable glob pattern could match sub directories in the partition folder"

[2015-12-08 14:33] vineethvarghese commented on #468
This is not an issue as show with the test case in https://github.com/CommBank/permafrost/pull/20

[2015-12-08 14:33] #468 closed

[2015-12-09 00:53] vineethvarghese commented on #466
Closing as there has been no response.

[2015-12-09 00:53] #466 closed

[2015-12-09 02:48] sintokitteera commented on #466
@rowandavies , @vineethvarghese   I wanted to point the change found in existing behaviour of the API. Prior to the version '1.27.0-20151203060845-a15fd45' and after the next release there is no exception coming in even if we are not deleting the partition from hive metastore. Normally while rerunning our tests we never deleted the partition from metastore(if there is no schema change) since the A

[2016-01-05 11:15] AndreasKostler opened #471 "Some links to `RichExecution` and `RichExecutionObject` are out of date"

[2016-01-14 01:58] rowandavies opened #475 "If scalding counter support is enriched, swap back to using the cascading tuples written."
See:

* https://github.com/twitter/scalding/issues/1461 discusses what scalding could meaningfully support
* https://github.com/CommBank/maestro/pull/469 swaps `view` & `viewHive` to using a separate counter instead

[2016-01-14 02:15] rowandavies commented on #459
After a lot of tracking of the memory leak, I have a relatively small fix for this in the branch https://github.com/CommBank/maestro/tree/fix-oom-hive-paths

Can you test whether this resolves the exact issue for hit data?

Meanwhile, this issue is really caused by the scalding `EvalCache` never releasing references to results, even for `Execution.from`, and scalding may provide a better way of av

[2016-01-29 06:46] rowandavies commented on #459
This appears to resolved by #478, according to discussions with @jonjuscorpion666 and @singha34 on tests with that fix.

[2016-01-29 06:46] #459 closed

[2016-02-08 06:52] AnnTomie opened #479 "GC overhead limit exceeded error in Load step while processing 200+ files in a single run"
**Background :**
A SAP load job expects more than 300 files to be loaded in an hour during exceptional scenarios ( regression, error generated in upstream). In normal scenario, job is expecting only around 10 files to be processed. When number of files to be processed is more than 150, load step of the job fails with GC overhead limit exceeded error . After implementing  ```Oom``` fix  recently, w

[2016-02-08 22:33] vineethvarghese commented on #479
hmm.. are you sure about it being hadoop config?

[2016-02-09 01:49] AnnTomie commented on #479
![screen shot 2016-02-09 at 12 40 57 pm](https://cloud.githubusercontent.com/assets/8380379/12905334/7ae0463c-cf2a-11e5-8ee6-9d24ef4d9ddb.png)

 Could see multiples hadoop job config details stored in the HashMap

[2016-02-29 05:57] rowandavies commented on #461
@ranjanin08 Just noticed that this wasn't closed yet.  Are you still using the work around?

[2016-02-29 22:30] ranjanin08 commented on #461
@rowandavies , yes, we are still having to use the workaround.

[2016-02-29 23:39] AnnTomie opened #481 "Ability to load files with file-timestamp in different timezones."
*Background:*
SAP generates filenames with UTC as default timezone. During daylight saving, files
 were generated with timestamp ```2015-10-04-02%```
 which was invalid in AEST. While setting this timestamp to joda DateTime object, upload step failed as AEST is considered as the default timezone. From the execution we use a regex pattern to identify files from inbound location and if regex matches

[2016-03-09 04:54] rowandavies commented on #462
See https://github.com/CommBank/maestro/issues/459

[2016-03-09 04:54] #462 closed

[2016-03-09 05:10] rowandavies commented on #479
I had a look at the heap dump, and I think this is caused by the scalding execution cache.  If so, the solution will be to use `withSeparateCache` from https://github.com/CommBank/maestro/commit/c18183d74ce9f2d978e8fcce9b44ec9ce2593d6f see https://github.com/CommBank/maestro/pull/478

Basically I suggest wrapping the execution for each group of files in `withSeparateCache`.  If I'm right about whi

[2016-03-23 06:20] bpbinumon commented on #479
We have modified the code as suggested by @rowandavies  and successfully loaded 550 files in a single run.

[2016-03-23 06:23] rowandavies commented on #479
I think Ann mentioned that there was another issue though after making this change, where there was a failure in some cases involving duplicates that didn't happen prior to the change.  We could keep this issue open if that seems related, otherwise we could close this now.

[2016-03-23 06:46] bpbinumon commented on #479
We have analysed more on that issue and found that it was not related to the memory problem  and happy to close this.
In our code, we  were using maestro  error folder for moving the duplicate files and the ACLs on that folder caused that issue which Ann mentioned.

[2016-03-28 23:52] #479 closed

[2016-04-25 05:12] rowandavies commented on #481
This is also related to issue #204

[2016-05-06 04:29] rowandavies opened #484 "Evaluate the consequences of updating to Scalding 0.16."
See: https://github.com/twitter/scalding/releases

[2016-05-06 04:35] rowandavies commented on #484
From a quick read of the release notes for 0.16.0:

We could replace some of extensions of Scalding with new internal implementations of the same, such as `withNewCache`, `withConfig` and `liftToTry` (essentially doing the same as our `rBind` for the Execution instance of `ResultantMonad`).

[2016-05-09 14:58] #471 closed

[2016-05-09 15:00] vineethvarghese commented on #461
@rowandavies Could you take a look at this and see what we need to do on this?

[2016-05-09 15:01] vineethvarghese commented on #460
@disambiguist What do you want to do with this?

[2016-05-09 15:04] vineethvarghese commented on #431
@jonjuscorpion666 @sujeshchirackkal @rowandavies Is this still an issue?

[2016-05-09 15:08] vineethvarghese opened #485 "Allow splitters to fail"
We need to check what to do with https://github.com/CommBank/maestro/tree/sam_splitter_error. I am closing that PR as we never got to merging it in time.

[2016-05-09 23:29] anandsiva commented on #460
It is capability backlog for Datahub. It is tracked via https://github.com/CommBank/datahub/issues/162

[2016-05-16 07:24] rowandavies opened #486 "Consider support for common control file handling."
E.g., provide a variant of `findSources` that only returns data files with matching control files, hence making the load not ready until the appropriate control files are present.

@jonjuscorpion666 @AnnTomie @snehalvidyan @maxmithun @jithinjohn Would this actually be useful?  If so, any common patterns you can suggest beyond this example?

[2016-05-20 03:26] rowandavies commented on #486
I have a branch that should support the basic version of this.

[2016-05-20 03:27] rowandavies opened #487 "Update uniform to the latest version."
And swap to localVersionSettings.

[2016-05-20 03:39] anandsiva commented on #486
Isn't this handled in template?

On Fri, May 20, 2016 at 1:26 PM, Rowan Davies <notifications@github.com>
wrote:

[2016-05-31 03:59] rowandavies commented on #481
Resolved by #483

[2016-05-31 03:59] #481 closed

[2016-06-01 05:03] rowandavies opened #488 "PartitionedHiveTable could be generalised to typed pipes with thrift extractors."
@knservis, @vineethMM & others have a use case for `au.com.cba.omnia.maestro.hive.PartitionedHiveTable.writeExecution` that currently doesn't fit because it requires accepting a typed pipe of pairs of thrift structures and associated partitions (dates as `(String, String, String)`).   Converting these to a single thrift beforehand would be inconvenient and need to be done for multiple clients, so

[2016-06-03 04:13] rowandavies opened #489 "We should have smoke tests, likely including the `test-parallel-partition-appending branch`"

[2016-06-03 04:21] rowandavies opened #490 "Tidy and create PR for ExecutionR."

[2016-06-16 15:41] vineethvarghese commented on #488
@rowandavies No. Sorry just catching up on some issues.

[2016-06-16 21:08] rowandavies commented on #488
No problem, we discussed it in person.  This should have been linked to #493 since that resolves this.

[2016-06-28 14:43] vineethvarghese commented on #488
Close this maybe?

[2016-06-28 22:45] #488 closed

[2016-07-06 09:44] rowandavies opened #494 "toDataFile should be implicit in Input"
DataFileTimestamped is a different case class from DataFile, with .toDataFile doing the conversion, but it would be better if this was done implicitly.

[2016-07-20 06:33] andynygard commented on #487
Done in https://github.com/CommBank/maestro/pull/496

[2016-07-20 06:33] #487 closed

[2016-07-21 03:50] rowandavies commented on #494
Also, DataFileTimestamped should be in the Maestro api.

[2016-07-27 08:02] SajeevAr commented on #481
The current timezone addition provides the ability to specify timezone associated with a file during upload and hence fixes the issues in upload step. However, apart from upload, the default AET timezone was assumed in the following instances as well, which may lead to job failures.

1. Methods `byYear`, `byMonth`, `byDay`, `byHour`, `byDate` etc. in `Partition.scala` will parse the timestamp in p

[2016-08-07 23:47] andynygard commented on #481
@SajeevAr Could you please open a new issue so that we have visibility of this?

[2016-08-18 08:45] SajeevAr opened #497 "Usage of default AET timezone"
This is related to issue #481. Opening a new issue to track this separately.

Issue: The current timezone addition provides the ability to specify timezone associated with a file during upload and hence fixes the issues in upload step. However, apart from upload, the default AET timezone was assumed in the following instances as well, which may lead to job failures.
1. Methods `byYear`, `byMonth`,

[2016-09-30 05:22] JeremyMarshall opened #501 "Automate new ETL project initiation"
To build stash and teamcity

Instructions here http://knowit.cba/display/OMNIA/ETL+Project+Repo+Creation

Possibly dockerise it and initiate it with teamcity using a parameter for the project name

[2016-10-07 00:05] JeremyMarshall opened #502 "encode is not defined in au.com.cba.omnia.maestro.api"
decode is defined

[code]

but encode is not and a user has to

[code]

to do something like this, which pulls from a db into hdfs and hive and then out to a destination db

[code]

[2016-10-24 22:02] rowandavies commented on #497
For `byYear`, `byMonth` and `byDate`, the set of valid dates is the same for every time zone, so it can stay the way it is, or always use UTC via `DateTimeFormat.forPattern(dateFormat).withZoneUTC()` or we can have a timeZone that defaults to UTC (similar to the previous timezone fix #483).

For `byHour` we could do the same, but then there's the potential for a column that is Sydney-time to be tr

[2016-10-24 22:18] rowandavies commented on #497
cc @AnnTomie @sibisasidharan @josephshobin

[2016-10-25 00:42] rowandavies commented on #497
After discussing with @SajeevAr for the first part, it's not true that "it can stay the way it is" because the  format may include hours even for `byYear`, `byMonth` and `byDate`.

[2016-10-25 01:31] rowandavies commented on #497
For `isDate` it could be better to have the timezone in the metadata in the thrift (and RDV metadata).  See: https://github.com/CommBank/datahub/issues/301

[2016-10-26 03:31] rowandavies commented on #484
There's activity here by @toddmowen
See: https://github.com/CommBank/parlour/pull/79

[2016-11-02 03:07] vineethvarghese opened #506 "Hive metadata updation issue"
A few tables in a load aren't getting the Hive metadata updated with their partition information.

[2016-11-02 15:01] rowandavies commented on #506
Which ones?

[2016-11-02 17:10] rowandavies commented on #502
From memory, this was deliberate, but I may only have heard this in person.   The reason  `encode` was omitted from the api is that it's not generally what you want to do, and including it might give the impression that it was the intended way of doing things.  In the rare cases where you do want `encode` the explicit import is appropriate.

The PR and commit are:  https://github.com/CommBank/maes

[2016-11-02 18:25] rowandavies commented on #501
We already have automation for this in the giter8 template that generates the initial code for new ETL projects, stash repos and the associated CI in teamcity, but it's clearly in need of an update.

We could move away from giter8 in the process, but only if there's a clear reason to do so.  One alternative could be to do offline code generation via scala macros, as per: http://docs.scala-lang.org

[2016-11-02 21:07] vineethvarghese commented on #506
This is not an issue.

On 3 Nov. 2016 2:01 am, "Rowan Davies" <notifications@github.com> wrote:

[2016-11-03 14:11] rowandavies commented on #506
Close it?

[2016-11-04 06:09] vineethvarghese commented on #506
Yeah. I left it open because we were investigating one last thing.

[2016-11-04 06:09] #506 closed

[2016-11-13 23:51] JeremyMarshall opened #509 "Tableau Stats verify deployment to PIT"
Verify the RPM is deployed and the jobs are running in datascience dev

[2016-11-13 23:52] JeremyMarshall opened #510 "Tableau Stats verify the downstream Teradata jobs"
Confirm the downstream jobs can call the ingest jobs on PIT via autosys

[2016-11-13 23:53] JeremyMarshall opened #511 "Tableau Stats - fix background_tasks extract"
This Postgres view will not extract with sqoop because:
* newlines in column data
* curly braces in columns possibly breaking sqoop

[2016-11-13 23:54] JeremyMarshall opened #512 "PIT servers"
Get access for the team to the PIT intreraction servers

[2016-11-13 23:55] JeremyMarshall opened #513 "PIT interaction server access"
Get access for the team to the PIT infrastructure

[2016-11-15 02:44] JeremyMarshall opened #514 "Build a method for an initial creation of Houston job"
Houston jobs need to be deployed into different environments as part of the RPM or docker push to environments which can happen as part of the release

[2016-11-15 02:48] JeremyMarshall opened #515 "New Starter"
There is no definitive list of accesses or applications for a new starter

[2016-11-15 03:06] #512 closed

[2016-11-15 03:07] #501 closed

[2016-11-15 03:07] #502 closed

[2016-11-15 03:07] #509 closed

[2016-11-15 03:07] #510 closed

[2016-11-15 03:07] #511 closed

[2016-11-15 03:07] #513 closed

[2016-11-15 03:07] #514 closed

[2016-11-15 03:07] #515 closed

[2016-11-20 23:12] #497 closed

[2017-06-09 05:07] jdcba commented on #425
I assume the original reason for requiring sources to be ASCII-only is due to lack of mappings from EBCDIC? Or possibly a GDW 1.0 tradition? Maestro has been filtering out any errant non-ASCII characters that might come through. It was also depending on the defaults in Cascading/Scalding.

My approach with PR#532 and PR#533 is to make reader charset explicit in the public API (converts to Java Uni

[2017-06-09 06:50] jdcba commented on #425
Hi all, v2.28.0 includes support for custom character sets. The Maestro legacy default (per Scalding/Cascading) remains as-is:

1. Parses UTF-8 only
2. Replaces any non-UTF-8 characters silently
3. Downselects to US-ASCII printables only

If the original source is not UTF-8 or US-ASCII, the new option `LoadConfig.charsetEncoding` can be used to resolve issues 1-2.

The new option `Clean.unicodeDef

[2017-06-09 06:50] #425 closed

[2017-06-17 00:52] jdcba opened #534 "Unicode surrogate pairs corrupted by Clean during ingest (AIDH-1865)"
During of control characters Clean.unicodeDefault, Unicode supplementary surrogate pairs become corrupted.

This is because the Java regex `(?U)\\p{Print}` is only Plane 0-aware. Therefore, supplementary surrogate pair sequences in higher planes are not supported. For example, 😀(U+1F600 / UTF-8 F09F 9880 / UTF-16 D83D DE00) is corrupted to ? (U+003F).

[2017-06-17 00:56] jdcba commented on #534
Corruption can be avoided by:

1. Removing higher-plane characters from the output.
2. Including higher-plane characters in the output.

Option 1 is the safest default (support Plane 0 only):

* Supplementary high-plane support is problematic because many systems are not surrogate-aware.
* Java does not define a safe printable set for supplementary surrogates.

Option 2 is an advanced option that

[2017-06-17 01:24] jdcba commented on #534
See also https://github.com/CommBank/OmniaDesignForum/blob/289dc0331087ac7ee90f6957a0d2c6107c9106fe/features/string-features.md

[2017-06-17 23:02] jdcba commented on #534
v2.28.1 AIDH-1865 (#535) implements Option 1 as the default and Option 2 as an advanced capability.

[2017-06-17 23:02] #534 closed

[2017-08-22 01:31] rowandavies opened #538 "It would be safer to for HDFS overwrites to be done via a temporary area."
Using a move after writing to all files to a temporary area would decrease the chances of seeing partial writes.

We could even hard link the existing files into the temporary directory and then do the move.

[2017-12-08 14:24] satregiftc opened #539 "MapGuide & Masero with Oracle 12c"
Hi,
I want to create MapGuide Open Source environment on windows server  2012 R2
, I have few questions

1.    What is the latest MapGuide version and which is compatible maestro version
2.    Will I be able to use Oracle 12c ( 64 bit )
3.    As I am working on Oracle 12c, I need FDO provider to connect. Is that installed by default, or should I download  Separately and install?

Thanks
SAT

[2017-12-09 00:47] rowandavies commented on #539
This may not be the Maestro you're looking for.

[2018-03-23 01:52] rowandavies opened #544 "Investigate thread pool issues in tests"
See:

https://travis-ci.org/CommBank/maestro/builds/352794832#L3932-L5728

[code]
Also: https://travis-ci.org/CommBank/maestro/builds/185105878#L3257

[code]

And: http://grepcode.com/file/repository.grepcode.com/java/root/jdk/openjdk/7u40-b43/java/util/concurrent/ThreadPoolExecutor.java/#1355

[2018-03-23 01:55] rowandavies commented on #544
It seems to be in the RichExecution tests.